<div class="container-fluid p-2">
    <div class="row justify-content-center mt-4 ">
        <div class="col-6 text-left">
            <h3><i class="fas fa-lock-open text-success">&nbsp;&nbsp;{% trans %}Cambio de Contraseña{% endtrans %}</i><hr></h3>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-6">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            {{ form_widget(form.plainPassword,{'id':'plainPassword'}) }}
            <div class="mt-3">
                <input class="btn btn-success" type="submit" value="Cambiar Contraseña" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $("input[type=password]").attr('class','form-control form-control-sm')
            $("#fos_user_change_password_form_plainPassword_first").attr('minlength','6')
            $("#fos_user_change_password_form_plainPassword_first").attr('maxlength','15')
            $("#fos_user_change_password_form_plainPassword_second").attr('minlength','6')
            $("#fos_user_change_password_form_plainPassword_second").attr('maxlength','15')
        });
    </script>
{% endblock %}