{% extends 'iframe.html.twig' %}

{% block title %}Status{% endblock %}

{% block contenido %}
    <div class="container-fluid p-5">
        <div class="row justify-content-center mt-4 ">
            <div class="col-6 text-left">
                <h3><i class="fas fa-list-ul text-success"> &nbsp;{% trans %}Status{% endtrans %}</i><hr></h3>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-6">
                <div id="grid"></div>
                <div class="mt-3 mb-3 text-left">
                    <a href="{{ path('status_new') }}">
                        <button type="button" class="btn btn-outline-success" id='crear'>
                            <i class="fas fa-1x fa-plus-circle ">&nbsp;&nbsp;{% trans %}Nuevo Status{% endtrans %}</i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        var statusAll = {{ statusAll|json_encode|raw }};
        $(document).ready(function () {
            var source =
                {
                    localdata: statusAll,
                    datafields:
                        [
                            { name: 'id', type: 'string' },
                            { name: 'staNombre', type: 'string' },
                            { name: 'staEstado', type: 'string' }
                        ],
                    datatype: "array",
                    pagesize: 25,
                };
            var estadorenderer = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                //console.log(value);
                if (value == 'true') {
                    return '<div class="row w-100 h-100 m-0 align-items-center"><div class="col-12 text-center"><span style="color: #008000;">Activo</span></div></div>';
                }
                else {
                    return '<div class="row w-100 h-100 m-0 align-items-center"><div class="col-12 text-center"><span style="color: red;">Inactivo</span></div></div>';
                }
            }
            var opciones = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                var result = '<div class="row h-100 w-100 m-0 align-items-center"><div class="col-12 text-center"><a href="{{ path('status_edit',{'id':'docId'}) }}"><button type="button" class="btn btn-white btn-sm mr-2"><i class="far fa-2x fa-edit text-warning"></i></button></a>';
                if (rowdata.staEstado == 'true') {
                    result += '<a href="{{ path('status_cambia_estado',{'id':'docId1','estado':0}) }}"><button type="button" class="btn btn-white btn-sm"><i class="fas fa-2x fa-times-circle text-danger"></i></button></a>';
                }
                else {
                    result += '<a href="{{ path('status_cambia_estado',{'id':'docId2','estado':1}) }}"><button type="button" class="btn btn-white btn-sm"><i class="fas fa-2x fa-check-circle text-success"></i></button></a>';
                }
                result = result.replace('docId',rowdata.id);
                result = result.replace('docId1',rowdata.id);
                return result.replace('docId2',rowdata.id);
            }

            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#grid").jqxGrid(
                {
                    width: '100%',
                    source: dataAdapter,
                    sortable: true,
                    showfilterrow: true,
                    filterable: true,
                    pageable: true,
                    autoheight: true,
                    rowsheight: 40,
                    editable: false,
                    localization: getLocalization('{% trans %} es {% endtrans %}'),
                    theme: theme,
                    selectionmode: 'none',
                    columns: [
                        { text: 'id', columntype: 'textbox', filtertype: 'textbox', datafield: 'id', width: '10%' },
                        { text: '{% trans %}Nombre{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'staNombre', width: '50%' },
                        { text: '{% trans %}Estado{% endtrans %}', columntype: 'checkedlist', filtertype: 'checkedlist',  datafield: 'staEstado', width: '15%', cellsrenderer: estadorenderer },
                        { text: '{% trans %}Opciones{% endtrans %}', filterable:false, datafield: 'OPC', width: '25%', cellsrenderer: opciones, cellsalign: 'center', align: 'center' }
                    ]
                });
            $("span:contains('www.jqwidgets.com')").hide();
        });
    </script>
{% endblock %}
