{% extends 'iframe.html.twig' %}

{% block title %}{% trans %}Nuevo Status{% endtrans %}{% endblock %}
{% block contenido %}
    <div class="container-fluid p-5">
        <div id="window" class="row justify-content-center">
            <div class="col-5 ">
                <div class="row justify-content-center mt-3">
                    <div class="col-12">
                        <h3><i class="far fa-file text-success">&nbsp;&nbsp;{% trans %}Nuevo Status{% endtrans %}</i><hr></h3>
                    </div>
                </div>
                {{ form_start(form, {'attr': {'id': 'forNew','class':"needs-validation",'novalidate':''}}) }}
                <div class="form-row align-items-center justify-content-center">
                    <div class="text-left col-12 mb-3">
                        <label for="staNombre">{% trans %}Nombre del Status{% endtrans %}</label>
                        {{ form_widget(form.staNombre,{'id':'staNombre','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="lstaNombre" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center">
                    <div class="text-left col-12 mb-3">
                        <label>{% trans %}Estado{% endtrans %}</label>
                        <div class="form-control custom-control">
                            <div class="custom-control custom-switch">
                                {{ form_widget(form.staEstado,{'id':'staEstado','attr':{'class':'custom-control-input','checked':'checked'}}) }}
                                <label id="labEstado" class="custom-control-label" for="staEstado">{% trans %}Registro Activo{% endtrans %}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row align-items-center justify-content-center mt-2 mb-3">
                    <div class="col-12 smallText text-center">
                        <button type="submit" class="btn btn-success">
                            <i class="far fa-save"></i> Guardar
                        </button>
                        <a href="{{ path('status_index') }}">
                            <button type="button" class="btn btn-info">
                                <i class="fas fa-undo-alt"></i> Volver
                            </button>
                        </a>
                    </div>
                </div>
                {{ form_end(form)}}
            </div>
        </div>
    </div>
    <script>
        var statusAll = JSON.parse('{{ statusAll|json_encode|raw }}');
        $(document).ready(function(){
            $("#staEstado").click(function(){
                if(this.checked == true){
                    $("#labEstado").addClass('text-primary');
                    $("#labEstado").empty();
                    $("#labEstado").append('{% trans %}Registro Activo{% endtrans %}');
                }else{
                    $("#labEstado").removeClass('text-primary');
                    $("#labEstado").empty();
                    $("#labEstado").append('{% trans %}Registro Inactivo{% endtrans %}');
                }
            });

            $("input:checkbox").click(function(){
                if(this.checked == true){
                    $("#l"+$(this).val()).addClass('text-primary');
                }else{
                    $("#l"+$(this).val()).removeClass('text-primary');
                }
            });

        });
        // VALIDACION
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }else{
                            statusAll.forEach(function(element) {
                                if(element.staNombre == $("#staNombre").val()){
                                    $("#staNombre").val('');
                                    $("#lstaNombre").empty();
                                    $("#lstaNombre").append("{% trans %}Nombre de documento ya registrado!{% endtrans %}");
                                    $("#staNombre").focus();
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                            });

                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
