{% extends '../base_bk.html.twig' %}

{% block title %}Status{% endblock %}

{% block body %}
    <h1>Status</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ status.id }}</td>
            </tr>
            <tr>
                <th>StaNombre</th>
                <td>{{ status.staNombre }}</td>
            </tr>
            <tr>
                <th>StaEstado</th>
                <td>{{ status.staEstado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('status_index') }}">back to list</a>

    <a href="{{ path('status_edit', {'id': status.id}) }}">edit</a>

    {{ include('status/_delete_form.html.twig') }}
{% endblock %}
