<style>
    .fixed-background {
        background: url(img/background/bg4.jpg) no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
</style>

<div style="height: 100%!important;" id="root" class="h-100">
    <div class="fixed-background">
        <!-- The video -->
        <!--<video autoplay muted loop id="myVideo" style="padding-right: 540px">
            <source src="{{ asset('auto.mp4') }}" type="video/mp4">
        </video>-->
    </div>
    <div class="container-fluid p-0 h-100 position-relative">
        <div class="row g-0 h-100">
            <div class="offset-0 col-12 d-none d-lg-flex offset-md-1 col-lg h-lg-100">
                <div class="min-h-100 d-flex align-items-top mt-5">
                    <div class="w-100">
                        <div>
                            <div class="mb-5">
                                <!--<h1 class="display-3 text-secondary" style="font-size: 32px">Sistema <br> Baterías Ecuador</h1>-->
                            </div>

                            <div class="mb-5">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-auto h-100 pb-4 px-4 pt-0 p-lg-0">
                <div class="sw-lg-70 min-h-100 bg-foreground d-flex justify-content-center align-items-center shadow-deep py-5 full-page-content-right-border">
                    <div class="sw-lg-50 px-5">
                        <div class="sh-11">
                            <img class="" id="logobaterias" src="{{ asset('img/login_head.png') }}" style="width:200px; margin-top: -150px; margin-left: 70px"/>
                        </div>
                        <hr>
                        <br>
                        <div class="mb-5">
                            <h2 class="cta-1 mb-0 text-secondary">Hola!</h2>
                            <h2 class="cta-1 text-secondary">Inicia Sesión</h2>
                        </div>
                        <div class="mb-5">
                            <p class="h6">Ingresa tus datos para iniciar sesión</p>
                            <p class="h6">
                            </p>
                        </div>
                        <div>
                            <form action="{{ path("fos_user_security_check") }}" id="loginForm" class="needs-validation tooltip-end-bottom" novalidate method="post" name="formulario">
                                {% if csrf_token %}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                {% endif %}
                                <div class="mb-3 filled form-group tooltip-end-top">
                                    <i data-acorn-icon="email"></i>
                                    <input class="form-control" type="text" id="username" name="_username" required="required" autocomplete="off" maxlength="100" placeholder="Email / Usuario">
                                    <div class="invalid-feedback">
                                        {% trans %}Campo requerido!{% endtrans %}
                                    </div>
                                </div>
                                <div class="mb-3 filled form-group tooltip-end-top">
                                    <i data-acorn-icon="lock-off"></i>
                                    <input class="form-control pe-7" type="password" id="clave_ingreso" name="_password" autocomplete="new-password" required="required" maxlength="15" placeholder="Contraseña">

                                    <a class="text-small position-absolute t-3 e-4" href="{{ path('fos_user_resetting_request') }}"><span class="text-secondary" style="font-size: 12px">Olvidaste?</span></a>
                                    <div class="invalid-feedback">
                                        {% trans %}Campo requerido!{% endtrans %}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary"><span class="" style="font-size: 18px">Iniciar Sesión</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var error = "{{ error|slice(1, 90) }}";
    console.log(error);
    if (error != '') {
        var err = error.indexOf("User account is disabled");
        if (err > 0) {
            Swal.fire({
                icon: "error", title: "Usuario se encuentra inactivo!", text: "Verifique y vuelva a intentar",
// footer: "<a href>Why do I have this issue?</a>"
            })
            $("#username").focus();

        } else {
            Swal.fire({
                icon: "error", title: "Usuario o Contraseña, incorrectos!", text: "Verifique y vuelva a intentar",
// footer: "<a href>Why do I have this issue?</a>"
            })
            $("#username").focus();
        }

    }
    // Get the video
    //var video = document.getElementById("myVideo");

    // VALIDACION
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

