<form method="post" action="{{ path('distribucion_delete', {'id': distribucion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ distribucion.id) }}">
    <button class="btn">Delete</button>
</form>
