{% extends '../base_bk.html.twig' %}

{% block title %}Edit Distribucion{% endblock %}

{% block body %}
    <h1>Edit Distribucion</h1>

    {{ include('distribucion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('distribucion_index') }}">back to list</a>

    {{ include('distribucion/_delete_form.html.twig') }}
{% endblock %}
