{% extends '../base_bk.html.twig' %}

{% block title %}Distribucion index{% endblock %}

{% block body %}
    <h1>Distribucion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DisNumLote</th>
                <th>Codigo_gar</th>
                <th>DisFecDistribucion</th>
                <th>DisFecDespacho</th>
                <th>DisEstado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for distribucion in distribucions %}
            <tr>
                <td>{{ distribucion.id }}</td>
                <td>{{ distribucion.disNumLote }}</td>
                <td>{{ distribucion.codigoGar }}</td>
                <td>{{ distribucion.disFecDistribucion ? distribucion.disFecDistribucion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ distribucion.disFecDespacho ? distribucion.disFecDespacho|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ distribucion.disEstado }}</td>
                <td>
                    <a href="{{ path('distribucion_show', {'id': distribucion.id}) }}">show</a>
                    <a href="{{ path('distribucion_edit', {'id': distribucion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('distribucion_new') }}">Create new</a>
{% endblock %}
