{% extends '../base_bk.html.twig' %}

{% block title %}New Distribucion{% endblock %}

{% block body %}
    <h1>Create new Distribucion</h1>

    {{ include('distribucion/_form.html.twig') }}

    <a href="{{ path('distribucion_index') }}">back to list</a>
{% endblock %}
