{% extends '../base_bk.html.twig' %}

{% block title %}Distribucion{% endblock %}

{% block body %}
    <h1>Distribucion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ distribucion.id }}</td>
            </tr>
            <tr>
                <th>DisNumLote</th>
                <td>{{ distribucion.disNumLote }}</td>
            </tr>
            <tr>
                <th>Codigo_gar</th>
                <td>{{ distribucion.codigoGar }}</td>
            </tr>
            <tr>
                <th>DisFecDistribucion</th>
                <td>{{ distribucion.disFecDistribucion ? distribucion.disFecDistribucion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DisFecDespacho</th>
                <td>{{ distribucion.disFecDespacho ? distribucion.disFecDespacho|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DisEstado</th>
                <td>{{ distribucion.disEstado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('distribucion_index') }}">back to list</a>

    <a href="{{ path('distribucion_edit', {'id': distribucion.id}) }}">edit</a>

    {{ include('distribucion/_delete_form.html.twig') }}
{% endblock %}
