<form method="post" action="{{ path('palets_delete', {'id': palet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ palet.id) }}">
    <button class="btn">Delete</button>
</form>
