{% extends '../base_bk.html.twig' %}

{% block title %}Edit Palets{% endblock %}

{% block body %}
    <h1>Edit Palets</h1>

    {{ include('palets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('palets_index') }}">back to list</a>

    {{ include('palets/_delete_form.html.twig') }}
{% endblock %}
