<form method="post" action="{{ path('seccion_delete', {'id': seccion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seccion.id) }}">
    <button class="btn">Delete</button>
</form>
