{% extends 'base.html.twig' %}

{% block title %}{% trans %}Editar Sección{% endtrans %}{% endblock %}
{% block contenido %}
<main>
    <div class="container-fluid p-0">
        <div id="window" class="row justify-content-center">
            <div class="col-5 ">
                <div class="row justify-content-center mt-3">
                    <div class="col-12 text-left" style="font-size: 24px">
                        <i class="far fa-edit text-danger"></i><span class="text-danger"> Editar Sección</span>
                    </div>
                </div>
                {{ form_start(form, {'attr': {'id': 'forEdit','class':"needs-validation",'novalidate':''}}) }}
                <div class="row align-items-center justify-content-center">
                    <div class="text-left col-12 mb-3">
                        <label for="bodNombre">{% trans %}Nombre de la Bodega{% endtrans %}</label>
                        <input value="{{ seccion.racks.bodegas.bodNombre }}" class="form-control form-control-sm" readonly />
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="text-left col-6 mb-3">
                        <label for="racks">{% trans %}No. de Rack{% endtrans %}</label>
                        {{ form_widget(form.racks,{'id':'racks','attr':{'class':'form-control form-control-sm', 'readonly':'readonly'}}) }}
                    </div>
                    <div class="text-left col-6 mb-3">
                        <label for="secCodigo">{% trans %}Código de la Sección{% endtrans %}</label>
                        {{ form_widget(form.secCodigo,{'id':'secCodigo','attr':{'class':'form-control form-control-sm', 'readonly':'readonly'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="text-left col-6 mb-3">
                        <label for="secNombre">{% trans %}Etiqueta Sección{% endtrans %}</label>
                        {{ form_widget(form.secNombre,{'id':'secNombre','attr':{'class':'form-control form-control-sm'}}) }}
                    </div>
                    <div class="text-left col-6 mb-3">
                        <label>{% trans %}Estado{% endtrans %}</label>
                        <div class="form-control custom-control">
                            <div class="custom-control custom-switch">
                                {{ form_widget(form.secEstado,{'id':'secEstado','attr':{'class':'custom-control-input'}}) }}
                                <label id="labEstado" class="custom-control-label" for="secEstado">
                                    {% if seccion.secEstado %}
                                        {% trans %}Registro Activo{% endtrans %}
                                    {% else %}
                                        {% trans %}Registro Inactivo{% endtrans %}
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row align-items-center justify-content-center mt-2 mb-3">
                    <div class="col-12 smallText text-center">
                        <button type="submit" class="btn btn-success">
                            <i class="far fa-save"></i> Guardar
                        </button>
                        <a href="{{ path('seccion_index') }}">
                            <button type="button" class="btn btn-info">
                                <i class="fas fa-undo-alt"></i> Volver
                            </button>
                        </a>
                    </div>
                </div>
                {{ form_end(form)}}
            </div>
        </div>
    </div>
</main>
    <script>
        $(document).ready(function(){
            $("#secEstado").click(function(){
                if(this.checked == true){
                    $("#labEstado").addClass('text-primary');
                    $("#labEstado").empty();
                    $("#labEstado").append('{% trans %}Registro Activo{% endtrans %}');
                }else{
                    $("#labEstado").removeClass('text-primary');
                    $("#labEstado").empty();
                    $("#labEstado").append('{% trans %}Registro Inactivo{% endtrans %}');
                }
            });

            $("input:checkbox").click(function(){
                if(this.checked == true){
                    $("#l"+$(this).val()).addClass('text-primary');
                }else{
                    $("#l"+$(this).val()).removeClass('text-primary');
                }
            });
        });
        // VALIDACION
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }else{

                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
