{% extends '../base_bk.html.twig' %}

{% block title %}Seccion{% endblock %}

{% block body %}
    <h1>Seccion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seccion.id }}</td>
            </tr>
            <tr>
                <th>SecCodigo</th>
                <td>{{ seccion.secCodigo }}</td>
            </tr>
            <tr>
                <th>SecNombre</th>
                <td>{{ seccion.secNombre }}</td>
            </tr>
            <tr>
                <th>SecEstado</th>
                <td>{{ seccion.secEstado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seccion_index') }}">back to list</a>

    <a href="{{ path('seccion_edit', {'id': seccion.id}) }}">edit</a>

    {{ include('seccion/_delete_form.html.twig') }}
{% endblock %}
