{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid p-2">
    <div class="row justify-content-center mt-4 ">
        <div class="col-6 text-left">
            <h3><hr><i class="far fa-check-circle text-success">&nbsp;&nbsp;{% trans %}La contraseña fue cambiada con exito{% endtrans %}</i><hr></h3>
        </div>
    </div>
</div>