<form method="post" action="{{ path('app_baterias_delete', {'id': bateria.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bateria.id) }}">
    <button class="btn">Delete</button>
</form>
