{% extends '../base_bk.html.twig' %}

{% block title %}Baterias{% endblock %}

{% block body %}
    <h1>Baterias</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bateria.id }}</td>
            </tr>
            <tr>
                <th>BatCodCrm</th>
                <td>{{ bateria.batCodCrm }}</td>
            </tr>
            <tr>
                <th>BatCodNeural</th>
                <td>{{ bateria.batCodNeural }}</td>
            </tr>
            <tr>
                <th>BatNomProducto</th>
                <td>{{ bateria.batNomProducto }}</td>
            </tr>
            <tr>
                <th>BatNomProdNeural</th>
                <td>{{ bateria.batNomProdNeural }}</td>
            </tr>
            <tr>
                <th>BatModelo</th>
                <td>{{ bateria.batModelo }}</td>
            </tr>
            <tr>
                <th>BatCodLp</th>
                <td>{{ bateria.batCodLp }}</td>
            </tr>
            <tr>
                <th>BatCodInicio</th>
                <td>{{ bateria.batCodInicio }}</td>
            </tr>
            <tr>
                <th>BatTipo</th>
                <td>{{ bateria.batTipo }}</td>
            </tr>
            <tr>
                <th>BatCodGrupo</th>
                <td>{{ bateria.batCodGrupo }}</td>
            </tr>
            <tr>
                <th>BatNumPlacas</th>
                <td>{{ bateria.batNumPlacas }}</td>
            </tr>
            <tr>
                <th>BatEstado</th>
                <td>{{ bateria.batEstado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_baterias_index') }}">back to list</a>

    <a href="{{ path('app_baterias_edit', {'id': bateria.id}) }}">edit</a>

    {{ include('baterias/_delete_form.html.twig') }}
{% endblock %}
