<form method="post" action="{{ path('app_grupos_delete', {'id': grupo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grupo.id) }}">
    <button class="btn">Delete</button>
</form>
