{% extends 'base.html.twig' %}

{% block title %}Listado Grupos{% endblock %}

{% block contenido %}
<main>
    <div class="container-fluid p-0">
        <div class="row justify-content-center mt-4 ">
            <div class="col-10 text-left" style="font-size: 24px">
                <i class="fas fa-list-ul text-danger"></i><span class="text-danger"> Listado Grupos</span>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center mt-3">
            <div class="col-10">
                <div class="mt-3 mb-3 text-left">
                    <a href="{{ path('app_grupos_new') }}">
                        <button type="button" class="btn btn-danger" id='crear'>
                            <i class="fas fa-1x fa-plus-circle "></i> Nuevo Grupo
                        </button>
                    </a>
                </div>
                <div id="grid"></div>

            </div>
        </div>
    </div>
</main>
    <script>
        var grupos = {{ grupos|json_encode|raw }};
        console.log(grupos);
        $(document).ready(function () {
            var source =
                {
                    localdata: grupos,
                    datafields:
                        [
                            { name: 'id', type: 'string' },
                            { name: 'gruCodigo', type: 'string' },
                            { name: 'gruDescripcion', type: 'string' },
                            { name: 'gruTipBateria1', type: 'string' },
                            { name: 'gruTipBateria2', type: 'string' },
                            { name: 'gruTipBateria3', type: 'string' },
                            { name: 'gruTipBateria4', type: 'string' },
                            { name: 'gruTipBateria5', type: 'string' },
                            { name: 'gruSecuencia', type: 'string' },
                            { name: 'gruEstado', type: 'boolean' }
                        ],
                    datatype: "array",
                    pagesize: 100,
                };
            var estadorenderer = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                console.log(value);
                if (value == true) {
                    return '<div class="row w-100 h-100 m-0 align-items-center"><div class="col-12 text-center"><span style="color: #008000;">Activo</span></div></div>';
                }
                else {
                    return '<div class="row w-100 h-100 m-0 align-items-center"><div class="col-12 text-center"><span style="color: red;">Inactivo</span></div></div>';
                }
            }
            var opciones = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                var result = '<div class="row h-100 w-100 m-0 align-items-center"><div class="col-12 text-center">'+
                    '<a href="{{ path('app_grupos_edit',{'id':'docId'}) }}"><button type="button" class="btn btn-sm btn-icon btn-icon-only btn-outline-warning mb-0"><i class="far fa-2x fa-edit"></i></button></a>';
                if (rowdata.gruEstado == true) {
                    result += '<a href="{{ path('app_grupos_cambia_estado',{'id':'docId1','estado':0}) }}"><button type="button" class="btn btn-sm btn-icon btn-icon-only btn-outline-danger mb-0 ms-2"><i class="fas fa-2x fa-times-circle"></i></button></a>';
                }
                else {
                    result += '<a href="{{ path('app_grupos_cambia_estado',{'id':'docId2','estado':1}) }}"><button type="button" class="btn btn-sm btn-icon btn-icon-only btn-outline-success mb-0 ms-2"><i class="fas fa-2x fa-check-circle"></i></button></a>';
                }
                result = result.replace('docId',rowdata.id);
                result = result.replace('docId1',rowdata.id);
                return result.replace('docId2',rowdata.id);
            }

            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#grid").jqxGrid(
                {
                    width: '100%',
                    source: dataAdapter,
                    sortable: true,
                    showfilterrow: true,
                    filterable: true,
                    pageable: false,
                    autoheight: true,
                    rowsheight: 40,
                    editable: false,
                    localization: getLocalization('{% trans %} es {% endtrans %}'),
                    theme: '{{ theme }}',
                    selectionmode: 'none',
                    columns: [
                        { text: 'id', columntype: 'textbox', filtertype: 'textbox', datafield: 'id', width: '5%' },
                        { text: '{% trans %}Código{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'gruCodigo', width: '5%' },
                        { text: '{% trans %}Descripción{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'gruDescripcion', width: '10%' },
                        { text: '{% trans %}Tip.Bateria1{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'gruTipBateria1', width: '9%' },
                        { text: '{% trans %}Tip.Bateria2{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'gruTipBateria2', width: '9%' },
                        { text: '{% trans %}Tip.Bateria3{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'gruTipBateria3', width: '9%' },
                        { text: '{% trans %}Tip.Bateria4{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'gruTipBateria4', width: '9%' },
                        { text: '{% trans %}Tip.Bateria5{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'gruTipBateria5', width: '9%' },
                        { text: '{% trans %}Secuencia{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'gruSecuencia', width: '10%' },
                        { text: '{% trans %}Estado{% endtrans %}', columntype: 'checkedlist', filtertype: 'checkedlist',  datafield: 'gruEstado', width: '10%', cellsrenderer: estadorenderer },
                        { text: '{% trans %}Opciones{% endtrans %}', filterable:false, datafield: 'OPC', width: '15%', cellsrenderer: opciones, cellsalign: 'center', align: 'center' }
                    ]
                });
            $("span:contains('www.jqwidgets.com')").hide();
        });
    </script>
{% endblock %}
