{% extends '../base_bk.html.twig' %}

{% block title %}Grupos{% endblock %}

{% block body %}
    <h1>Grupos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grupo.id }}</td>
            </tr>
            <tr>
                <th>GruCodigo</th>
                <td>{{ grupo.gruCodigo }}</td>
            </tr>
            <tr>
                <th>GruDescripcion</th>
                <td>{{ grupo.gruDescripcion }}</td>
            </tr>
            <tr>
                <th>GruTipBateria1</th>
                <td>{{ grupo.gruTipBateria1 }}</td>
            </tr>
            <tr>
                <th>GruTipBateria2</th>
                <td>{{ grupo.gruTipBateria2 }}</td>
            </tr>
            <tr>
                <th>GruTipBateria3</th>
                <td>{{ grupo.gruTipBateria3 }}</td>
            </tr>
            <tr>
                <th>GruTipBateria4</th>
                <td>{{ grupo.gruTipBateria4 }}</td>
            </tr>
            <tr>
                <th>GruTipBateria5</th>
                <td>{{ grupo.gruTipBateria5 }}</td>
            </tr>
            <tr>
                <th>GruSecuencia</th>
                <td>{{ grupo.gruSecuencia }}</td>
            </tr>
            <tr>
                <th>GruEstado</th>
                <td>{{ grupo.gruEstado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_grupos_index') }}">back to list</a>

    <a href="{{ path('app_grupos_edit', {'id': grupo.id}) }}">edit</a>

    {{ include('grupos/_delete_form.html.twig') }}
{% endblock %}
