{% trans_default_domain 'FOSUserBundle' %}
        <div class="account-pages h-100" style="margin-top: 100px">
            <div class="container h-100 d-flex flex-column">
                <div class="row align-items-center justify-content-md-center" style="height: 85%; margin-top: -40px;">
                    {% if not app.user %}
                    <div class="col-12 col-md-7 col-lg-7 text-left">
                        <span>
                            <img class="img-fluid " src="https://meapoyoempresarial.com/wp-content/uploads/2023/02/ME-Apoyo-Empresarial-Logo-Color-1.svg" alt="" style="max-width: 60%" >
                        </span>
                        <br>
                        <br>
                        <span class="tittle4">Nuestra asesoría personalizada nos permite entender y potenciar tu negocio, ofrecerte las mejores soluciones y hacer de los procesos administrativos de tu empresa algo simple, transparente y rápido.</span>
                    </div>
                    {% endif %}
                    <div class="col-md-5 col-lg-5 mt-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-left mb-1 mt-1">
                                    <span class="tittle3">Email enviado</span>
                                </div>
                                <hr>
                                <p>
                                    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                                </p>
                            </div>
                            {% if not app.user %}
                            <div class="form-group p-5">
                                <a href="{{ path("home") }}"><button class="btn btn-block btn-info" type="button" style="color: #FFFFFF"> Inicio </button></a>
                            </div>
                            {% endif %}
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                        <!--<div class="row mt-4">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted mb-0">Don't have an account? <a href="pages-register.html" class="text-dark ml-1"><b>Sign Up</b></a></p>
                            </div>
                        </div>-->
                    </div>
                    <!-- end col -->
                </div>

                <!-- end row -->
            </div>
            <!-- end container -->
        </div>

