
<div id="root" class="h-100">
    <div class="fixed-background"></div>
    <div class="container-fluid p-0 h-100 position-relative">
        <div class="row g-0 h-100">
            <div class="offset-0 col-12 d-none d-lg-flex offset-md-1 col-lg h-lg-100">
                <div class="min-h-100 d-flex align-items-center">
                    <div class="w-100 w-lg-75 w-xxl-50">
                        <div>
                            <div class="mb-5">
                                <h1 class="display-3 text-white">Sistema Facturación | PPM - PTOP</h1>
                            </div>
                            <p class="h6 text-white lh-1-5 mb-5">
                                Bienvenid@s al sistema de facturación.
                                Hacemos tu vida más facíl.

                            </p>
                            <div class="mb-5">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-auto h-100 pb-4 px-4 pt-0 p-lg-0">
                <div class="sw-lg-70 min-h-100 bg-foreground d-flex justify-content-center align-items-center shadow-deep py-5 full-page-content-right-border">
                    <div class="sw-lg-50 px-5">
                        <div class="sh-11">
                            <a href="index.html">
                                <div class="logo-default"></div>
                            </a>
                        </div>
                        <div class="mb-5">
                            <h2 class="cta-1 mb-0 text-primary">¿Olvidaste tu contraseña?</h2>

                        </div>
                        <div class="mb-5">
                            <p class="h6">Ingrese su email o usuario, recibirás un link para resetear tu contraseña.</p>
                            <p class="h6">
                               Si tienes cuenta, ingresa
                                <a href="{{ path('fos_user_security_login') }}">aquí</a>
                                .
                            </p>
                        </div>
                        <div>
                            <form id="forgotPasswordForm" class="tooltip-end-bottom" novalidate="">
                                <div class="mb-3 filled form-group tooltip-end-top">
                                    <i data-acorn-icon="email"></i>
                                    <input id="forgotPasswordEmail" class="form-control" placeholder="Email" name="forgotPasswordEmail">
                                </div>
                                <button id="preSubmit" type="submit" class="btn btn-lg btn-primary">Recuperar contraseña</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('js/vendor/jquery-3.5.1.min.js') }}"></script>
{% block javascripts %}
    <script>
        var userExiste = true;

        $("#preSubmit").click(function () {

            if($("#forgotPasswordEmail").val() == ''){
                $("#preSubmit").click();
                return false;
            }
            $.ajax({
                type: 'POST',
                url: "{{ path('users_existe') }}",
                data: { username: $("#forgotPasswordEmail").val() },
                cache: false,
            }).done( function(data) {
                userExiste = data;
                //console.log(data);
                if (!userExiste) {
                    Swal.fire({
                        icon: "error",
                        title: "Usuario o Email no existe!",
                        text: "Verifique y vuelva a intentar",
                        //footer: "<a href>Why do I have this issue?</a>"
                    })
                    $("#forgotPasswordEmail").focus();
                }else{
                    $("#forgotPasswordEmail").click();
                }
            }).fail( function( jqXHR, textStatus, errorThrown ) {
                Swal.fire({
                    icon: "error",
                    title: "Usuario o Email no existe!",
                    text: "Comuniquese con el administrador",
                    //footer: "<a href>Why do I have this issue?</a>"
                })
                $("#forgotPasswordEmail").focus();
            }).always( function(data) {
                console.log(data);
            });
        });

        // VALIDACION
        (function() {
            'use strict';
            window.addEventListener('load', function() {

                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }else {
                            //VALIDA SI EL USUARIO O CORREO EXISTE


                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
