<form method="post" action="{{ path('recepcion_delete', {'id': recepcion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recepcion.id) }}">
    <button class="btn">Delete</button>
</form>
