{% extends '../base_bk.html.twig' %}

{% block title %}Edit Recepcion{% endblock %}

{% block body %}
    <h1>Edit Recepcion</h1>

    {{ include('recepcion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('recepcion_index') }}">back to list</a>

    {{ include('recepcion/_delete_form.html.twig') }}
{% endblock %}
