{% extends '../base_bk.html.twig' %}

{% block title %}Recepcion index{% endblock %}

{% block body %}
    <h1>Recepcion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo_gar</th>
                <th>RecFecha</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recepcion in recepcions %}
            <tr>
                <td>{{ recepcion.id }}</td>
                <td>{{ recepcion.codigoGar }}</td>
                <td>{{ recepcion.recFecha ? recepcion.recFecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('recepcion_show', {'id': recepcion.id}) }}">show</a>
                    <a href="{{ path('recepcion_edit', {'id': recepcion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('recepcion_new') }}">Create new</a>
{% endblock %}
