{% extends '../base_bk.html.twig' %}

{% block title %}New Recepcion{% endblock %}

{% block body %}
    <h1>Create new Recepcion</h1>

    {{ include('recepcion/_form.html.twig') }}

    <a href="{{ path('recepcion_index') }}">back to list</a>
{% endblock %}
