{% extends '../base_bk.html.twig' %}

{% block title %}Recepcion{% endblock %}

{% block body %}
    <h1>Recepcion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recepcion.id }}</td>
            </tr>
            <tr>
                <th>Codigo_gar</th>
                <td>{{ recepcion.codigoGar }}</td>
            </tr>
            <tr>
                <th>RecFecha</th>
                <td>{{ recepcion.recFecha ? recepcion.recFecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('recepcion_index') }}">back to list</a>

    <a href="{{ path('recepcion_edit', {'id': recepcion.id}) }}">edit</a>

    {{ include('recepcion/_delete_form.html.twig') }}
{% endblock %}
