<form method="post" action="{{ path('codigos_qr_delete', {'id': codigos_qr.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ codigos_qr.id) }}">
    <button class="btn">Delete</button>
</form>
