{% extends '../base_bk.html.twig' %}

{% block title %}Edit CodigosQr{% endblock %}

{% block body %}
    <h1>Edit CodigosQr</h1>

    {{ include('codigos_qr/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('codigos_qr_index') }}">back to list</a>

    {{ include('codigos_qr/_delete_form.html.twig') }}
{% endblock %}
