{% extends '../base_bk.html.twig' %}

{% block title %}CodigosQr index{% endblock %}

{% block body %}
    <h1>CodigosQr index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo_gar</th>
                <th>PathQr</th>
                <th>StaEstado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for codigos_qr in codigos_qrs %}
            <tr>
                <td>{{ codigos_qr.id }}</td>
                <td>{{ codigos_qr.codigoGar }}</td>
                <td>{{ codigos_qr.pathQr }}</td>
                <td>{{ codigos_qr.staEstado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('codigos_qr_show', {'id': codigos_qr.id}) }}">show</a>
                    <a href="{{ path('codigos_qr_edit', {'id': codigos_qr.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('codigos_qr_new') }}">Create new</a>
{% endblock %}
