{% extends '../base_bk.html.twig' %}

{% block title %}New CodigosQr{% endblock %}

{% block body %}
    <h1>Create new CodigosQr</h1>

    {{ include('codigos_qr/_form.html.twig') }}

    <a href="{{ path('codigos_qr_index') }}">back to list</a>
{% endblock %}
