{% extends '../base_bk.html.twig' %}

{% block title %}CodigosQr{% endblock %}

{% block body %}
    <h1>CodigosQr</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ codigos_qr.id }}</td>
            </tr>
            <tr>
                <th>Codigo_gar</th>
                <td>{{ codigos_qr.codigoGar }}</td>
            </tr>
            <tr>
                <th>PathQr</th>
                <td>{{ codigos_qr.pathQr }}</td>
            </tr>
            <tr>
                <th>StaEstado</th>
                <td>{{ codigos_qr.staEstado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('codigos_qr_index') }}">back to list</a>

    <a href="{{ path('codigos_qr_edit', {'id': codigos_qr.id}) }}">edit</a>

    {{ include('codigos_qr/_delete_form.html.twig') }}
{% endblock %}
