<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style type="text/css">
        @page {
            margin: 0;
            padding: 0;
        }
        html, body, img {
            margin: 0;
            min-height: 80%;
            max-height: 80%;
            padding: 0;
        }
        table, tr, td {
            border-spacing:0; /* Removes the cell spacing via CSS */
            border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
            margin: 0px;
            padding: 0px;
            cellspacing: 0px;
            cellpadding: 0px;
        }
    </style>
</head>
<body>
    <div id="principal">
    <div style="width: 378px; height: 378px; border: #0b0b0b 1px; border: #0b0b0b solid 1px;">
        <div style="height: 37.8px">
            <div colspan="2" style="text-align: center">
                <img class="" src="{{ url('home') }}img/logo_rubix.jpeg" style="height: 37.8px; width: 378px" >
            </div>
        </div>
        <div style="height: 37.8px; border: #0b0b0b solid 1px; background-color: #5bb75b; width: 100%">
            <div style="width: 226.8px; text-align: center; float: left">
                ETIQUETA DE LIBERACION
            </div>
            <div style="width: 151.2px; float: right">
                <div style="">
                    <div style="">
                        <div style="width: 40%; text-align: left; padding-left: 2px; float: left">
                            <span style="font-weight: bold; font-size: 10px">CODIGO: </span>
                        </div>
                        <div style="width: 60%; padding-left: 2px; float: right">
                            <input id="codigo" name="codigo" value="{{ codigo.parValor }}" style="font-size: 10px; width: 100%; background-color: #5bb75b; border: none"/>
                        </div>
                    </div>
                    <div style="">
                        <div style="width: 40%; text-align: left; padding-left: 2px; float: left">
                            <span style="font-weight: bold; font-size: 10px">FECHA: </span>
                        </div>
                        <div style="width: 60%; padding-left: 2px; float: right">
                            <span style=" font-size: 12px">{{ pallet.palFecCreacion | date('Y-m-d')}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 18.9px; border: #0b0b0b solid 1px; background-color: #5bb75b">
            <div style="width: 60%; text-align: center">
                <span style="font-size: 12px">Control de producto no conforme</span>
            </div>
            <div style="width: 40%">
                <div style="height: 100%; width: 100%; border: none">
                    <div style="border: #0b0b0b solid 1px; border-top: none; border-bottom: none">
                        <div style="width: 40%; text-align: left; padding-left: 2px">
                            <span style="font-weight: bold; font-size: 10px">REVISIÓN: </span>
                        </div>
                        <div style="width: 60%; padding-left: 2px; border-left: #0b0b0b solid 1px">
                            <input value="{{ revision.parValor }}" style="font-size: 10px; width: 100%; background-color: #5bb75b; border: none"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 18.9px; border: #0b0b0b solid 1px; background-color: #5bb75b">
            <div style="width: 60%; text-align: center">
                <span style="font-size: 12px">Proceso: LINEA FINAL</span>
            </div>
            <div style="width: 40%">
                <span style="font-size: 12px">Fec. Producción: {{ pallet.palFecCreacion | date ("Y-m-d") }}</span>
            </div>
        </div>
        <div style="height: 37.8px">
            <div colspan="2" style="text-align: center">
                <span>{{ pallet.palDescripcion }}</span>
            </div>
        </div>
        <div style="height: 189px">
            <td colspan="2" style="text-align: center">
                <img src="{{ url('home') }}{{ path }}" style="width: 50%"/>
            </td>
        </div>
        <div style="height: 37.8px;">
            <div colspan="2" style="text-align: center; margin-top: 10px">
                <span style="font-weight: bold">{{ pallet.min }} - {{ pallet.max }}</span>
                <br>
                <span style="font-weight: bold">Cantidad {{ pallet.cantidad }}</span>
            </div>
        </div>
        <div style="height: 37.8px; border: #0b0b0b solid 1px; background-color: #5bb75b">
            <div colspan="2" style="text-align: center">
                <div style="height: 100%; width: 100%; border: none">
                    <div style="">
                        <div style="width: 40%; text-align: center; padding-left: 2px">
                            <span style="font-weight: bold; font-size: 16px">Código Secas: </span>
                        </div>
                        <div style="width: 60%; padding-left: 2px;">
                            <input value="" style="font-size: 16px; width: 90%; background-color: #5bb75b; border: none"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 37.8px; background-color: #5bb75b">
            <div colspan="2" style="text-align: center">
                <div style="height: 100%; width: 100%; border: none">
                    <div style="">
                        <div style="width: 40%; text-align: center; padding-left: 2px">
                            <span style="font-weight: bold; font-size: 16px">Responsable: </span>
                        </div>
                        <div style="width: 60%; padding-left: 2px;">
                            <input id="responsable" type="text" style="font-size: 16px; width: 90%; background-color: #5bb75b; border: none"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <table style="width: 389px; height: 1cm; border: #0b0b0b solid 1px;">
        <tr style="height: 37.8px;">
            <td colspan="2" style="text-align: center">
                <button onclick="Imprimir()" id="imprimir" style="background-color: #5bb75b; color: white; width: 100px; height: 35px; border: black solid 1px">Imprimir</button>
            </td>
        </tr>
    </table>
</body>
</html>
<script>
    function Imprimir(){
        var htmlElement = document.getElementById("principal").outerHTML;
        console.log(htmlElement);
        $.ajax({
            type: 'POST',
            url: "{{ path('palets_imprime_etiqueta') }}",
            data: {
                html: htmlElement
            },
            cache: false,
            success: function (data) {
                //location.reload();
                window.open("{{ asset('tirillas_pallet/impresion.pdf') }}");

            }
        });
    };
    $( document ).ready(function() {
        console.log( "ready!" );
        $("input").keyup(function (e){
            console.log(this.id);
            $(this).attr('value',this.value);
        });
    });
</script>