<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
        @page {
            margin: 0;
            padding: 0;
        }
        html, body, img {
            margin: 0;
            min-height: 80%;
            max-height: 80%;
            padding: 0;
        }
    </style>
</head>
<body>
    {% for data in codigos %}
        <div width="100%" style="text-align: center; font-size: 12px">{{ data.modelo|striptags|slice(0,10) }}</div>
        <div width="100%" style="text-align: center;">
            <img src="codigos_qr/{{ data.codigo_gar }}.png"/>
        </div>
        <div width="100%" style="text-align: center; font-size: 12px">{{ data.codigo_gar }}</div>
    {% endfor %}
</body>
</html>