<form method="post" action="{{ path('app_modelos_delete', {'id': modelo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ modelo.id) }}">
    <button class="btn">Delete</button>
</form>
