{% extends '../base_bk.html.twig' %}

{% block title %}Edit Modelos{% endblock %}

{% block body %}
    <h1>Edit Modelos</h1>

    {{ include('modelos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_modelos_index') }}">back to list</a>

    {{ include('modelos/_delete_form.html.twig') }}
{% endblock %}
