{% extends '../base_bk.html.twig' %}

{% block title %}Modelos index{% endblock %}

{% block body %}
    <h1>Modelos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ModCaja</th>
                <th>ModCodigo</th>
                <th>ModCantidad</th>
                <th>ModEstado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modelo in modelos %}
            <tr>
                <td>{{ modelo.id }}</td>
                <td>{{ modelo.modCaja }}</td>
                <td>{{ modelo.modCodigo }}</td>
                <td>{{ modelo.modCantidad }}</td>
                <td>{{ modelo.modEstado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_modelos_show', {'id': modelo.id}) }}">show</a>
                    <a href="{{ path('app_modelos_edit', {'id': modelo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_modelos_new') }}">Create new</a>
{% endblock %}
