{% extends '../base_bk.html.twig' %}

{% block title %}New Modelos{% endblock %}

{% block body %}
    <h1>Create new Modelos</h1>

    {{ include('modelos/_form.html.twig') }}

    <a href="{{ path('app_modelos_index') }}">back to list</a>
{% endblock %}
