{% extends '../base_bk.html.twig' %}

{% block title %}Modelos{% endblock %}

{% block body %}
    <h1>Modelos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ modelo.id }}</td>
            </tr>
            <tr>
                <th>ModCaja</th>
                <td>{{ modelo.modCaja }}</td>
            </tr>
            <tr>
                <th>ModCodigo</th>
                <td>{{ modelo.modCodigo }}</td>
            </tr>
            <tr>
                <th>ModCantidad</th>
                <td>{{ modelo.modCantidad }}</td>
            </tr>
            <tr>
                <th>ModEstado</th>
                <td>{{ modelo.modEstado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_modelos_index') }}">back to list</a>

    <a href="{{ path('app_modelos_edit', {'id': modelo.id}) }}">edit</a>

    {{ include('modelos/_delete_form.html.twig') }}
{% endblock %}
