{% extends 'base.html.twig' %}
{% block styles %}
{% endblock %}
{% if app.user %}
    {% block contenido %}
        {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    {% endblock %}
{% else %}
    {% block contenido_users %}
        {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    {% endblock %}
{% endif %}

