{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="account-pages h-100" style="margin-top: 150px">
        <div class="container h-100 d-flex flex-column">
            <div class="row align-items-center" style="height: 85%; margin-top: -40px;">
                <div class="col-12 col-md-7 col-lg-7 text-left">
                    <span><img class="img-fluid" src="{{ asset('img/logo_e-digital.png') }}" alt="" ></span>
                    <br>
                    <span class="tittle4">Te permite emitir y recibir los documentos electrónicos en una sola plataforma</span>
                </div>
                <div class="col-md-5 col-lg-5 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-left mb-1 mt-1">
                                <span class="tittle3">Email enviado</span>
                            </div>
                            <hr>
                            <p>
                                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                            </p>
                        </div>
                        <div class="form-group p-5">
                            <a href="{{ path("home") }}"><button class="btn btn-block btn-info" type="button" style="color: #FFFFFF"> Inicio </button></a>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                    <!--<div class="row mt-4">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted mb-0">Don't have an account? <a href="pages-register.html" class="text-dark ml-1"><b>Sign Up</b></a></p>
                        </div>
                    </div>-->
                </div>
                <!-- end col -->
            </div>
            <hr style="border: -0.5px solid #126298; width: 100%;">
            <div class="row w-100 " style="height: 15%">
                <div class="col-4 d-none d-md-block text-center">
                    <a href="{{ path('home') }}">
                        <img class="img-fluid mt-lg-3 mt-md-1 mt-sm-1" src="{{ asset('img/logo_aditecec.png') }}" alt="" >
                    </a>
                </div>
                <div class="col-4 d-none d-md-block text-center align-self-center" style="margin-bottom: 20px">
                    <span class="">2022 - Derechos Reservados</span>
                </div>

                <div class="col-4 d-none d-md-block text-center" >
                    <a href="{{ path('home') }}">
                        <img class="img-fluid" src="{{ asset('img/logo_visionfast_horizontal.png') }}" alt="" >
                    </a>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <script>
        $("#popover").jqxPopover({
            offset: {left: 0, top: 0},
            arrowOffsetValue: 0,
            showCloseButton: false,
            position: "left",
            selector: $("head")
        });
    </script>
{% endblock %}
