<div class="account-pages h-100" style="margin-top: 150px">
    <div class="container h-100 d-flex flex-column">
        <div class="row align-items-center" style="height: 85%; margin-top: -40px;">
            <div class="col-12 col-md-7 col-lg-7 text-left">
                <span><img class="img-fluid" src="{{ asset('img/logo_e-digital.png') }}" alt="" ></span>
                <br>
                <span class="tittle4">Te permite emitir y recibir los documentos electrónicos en una sola plataforma</span>
            </div>
            <div class="col-md-5 col-lg-5 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-left mb-1 mt-1">
                            <span class="tittle3">Restablecer Contraseña</span>
                        </div>
                        <hr>
                        <div class="text-left mb-1 mt-1">
                            <span class="tittle4">Ingresa tu correo electrónico o usuario para buscar tu cuenta.</span>
                        </div>
                        <form class="needs-validation" novalidate action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" name="formulario">
                            <div class="form-group">
                                <br>
                                <input class="form-control" placeholder="Usuario / Email" type="text" id="username" name="username" required="required" autocomplete="off"  maxlength="100"/>
                                <div class="invalid-feedback">
                                    {% trans %}campo requerido!{% endtrans %}
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="preSubmit" class="btn btn-block btn-success mb-2" type="button" style="color: #FFFFFF"> Restablecer</button>
                                <a href="{{ path("home") }}"><button class="btn btn-block btn-info" type="button" style="color: #FFFFFF"> Inicio </button></a>
                                <button id="submit" class="btn btn-block" type="submit"  style="display:none"> Restablecer </button>
                            </div>
                        </form>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
                <!--<div class="row mt-4">
                    <div class="col-sm-12 text-center">
                        <p class="text-muted mb-0">Don't have an account? <a href="pages-register.html" class="text-dark ml-1"><b>Sign Up</b></a></p>
                    </div>
                </div>-->
            </div>
            <!-- end col -->
        </div>
        <hr style="border: -0.5px solid #126298; width: 100%;">
        <div class="row w-100 " style="height: 15%">
            <div class="col-4 d-none d-md-block text-center" style="max-height: 100%; max-width: 100%">
                <a href="{{ path('home') }}">
                    <img class="img-fluid  " style="max-height: 100%" src="{{ asset('img/logo_aditecec.png') }}" alt="" >
                </a>
            </div>
            <div class="col-4 d-none d-md-block text-center align-self-center" style="margin-bottom: 20px">
                <span class="">2022 - Derechos Reservados</span>
            </div>

            <div class="col-4 d-none d-md-block text-center" style="max-height: 100%; max-width: 100%">
                <a href="{{ path('home') }}">
                    <img class="img-fluid" style="max-height: 100%" src="{{ asset('img/logo_visionfast_horizontal.png') }}" alt="" >
                </a>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
{% block javascripts %}
    <script>
        var userExiste = true;
        $("#popover").jqxPopover({
            offset: {left: 0, top: 0},
            arrowOffsetValue: 0,
            showCloseButton: false,
            position: "left",
            selector: $("head")
        });

        $("#preSubmit").click(function () {

            if($("#username").val() == ''){
                $("#submit").click();
                return false;
            }
            $.ajax({
                type: 'POST',
                url: "{{ path('users_existe') }}",
                data: { username: $("#username").val() },
                cache: false,
            }).done( function(data) {
                userExiste = data;
                if (!userExiste) {
                    if ($(window).width() < 768) {
                        $("#popover").jqxPopover({
                            position: "bottom",
                            selector: $("#username")
                        });
                    } else {
                        $("#popover").jqxPopover({
                            position: "left",
                            selector: $("#username")
                        });
                    }
                    $("#popover").on('close', function (event) {
                        $("#popover").jqxPopover({
                            selector: $("head")
                        });

                    });
                    $("#jqxNotification").jqxNotification({
                        width: "100%",
                        height: "100%",
                        appendContainer: "#container",
                        opacity: 0.9,
                        autoClose: false,
                        template: "error",
                        showCloseButton: false
                    });
                    //$("#jqxNotification").jqxNotification("closeAll");
                    $("#container").empty();
                    $("#notificationContent").html('<div>{% trans %} Usuario o Email, no existe vuelva a ingresar! {% endtrans %}</div>');
                    $("#jqxNotification").jqxNotification("open");
                    $("#username").click();
                }else{
                    $("#submit").click();
                }
            }).fail( function( jqXHR, textStatus, errorThrown ) {
                if ($(window).width() < 768) {
                    $("#popover").jqxPopover({
                        position: "bottom",
                        selector: $("#username")
                    });
                } else {
                    $("#popover").jqxPopover({
                        position: "left",
                        selector: $("#username")
                    });
                }
                $("#popover").on('close', function (event) {
                    $("#popover").jqxPopover({
                        selector: $("head")
                    });

                });
                $("#jqxNotification").jqxNotification({
                    width: "100%",
                    height: "100%",
                    appendContainer: "#container",
                    opacity: 0.9,
                    autoClose: false,
                    template: "error",
                    showCloseButton: false
                });
                $("#container").empty();
                $("#notificationContent").html('<div>{% trans %} Error Interno, Comuniquese con el administrador! {% endtrans %}</div><div>Status: '+ jqXHR.status +', '+ jqXHR.statusText +'</div>');
                $("#jqxNotification").jqxNotification("open");
                $("#username").click();
            }).always( function(data) {
                console.log(data);
            });
        });

        // VALIDACION
        (function() {
            'use strict';
            window.addEventListener('load', function() {

                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }else {
                            //VALIDA SI EL USUARIO O CORREO EXISTE


                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
