<form method="post" action="{{ path('palets_baterias_delete', {'id': palets_bateria.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ palets_bateria.id) }}">
    <button class="btn">Delete</button>
</form>
