{% extends '../base_bk.html.twig' %}

{% block title %}Edit PaletsBaterias{% endblock %}

{% block body %}
    <h1>Edit PaletsBaterias</h1>

    {{ include('palets_baterias/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('palets_baterias_index') }}">back to list</a>

    {{ include('palets_baterias/_delete_form.html.twig') }}
{% endblock %}
