{% extends '../base_bk.html.twig' %}

{% block title %}PaletsBaterias index{% endblock %}

{% block body %}
    <h1>PaletsBaterias index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo_gar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for palets_bateria in palets_baterias %}
            <tr>
                <td>{{ palets_bateria.id }}</td>
                <td>{{ palets_bateria.codigoGar }}</td>
                <td>
                    <a href="{{ path('palets_baterias_show', {'id': palets_bateria.id}) }}">show</a>
                    <a href="{{ path('palets_baterias_edit', {'id': palets_bateria.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('palets_baterias_new') }}">Create new</a>
{% endblock %}
