{% extends '../base_bk.html.twig' %}

{% block title %}New PaletsBaterias{% endblock %}

{% block body %}
    <h1>Create new PaletsBaterias</h1>

    {{ include('palets_baterias/_form.html.twig') }}

    <a href="{{ path('palets_baterias_index') }}">back to list</a>
{% endblock %}
