{% extends '../base_bk.html.twig' %}

{% block title %}PaletsBaterias{% endblock %}

{% block body %}
    <h1>PaletsBaterias</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ palets_bateria.id }}</td>
            </tr>
            <tr>
                <th>Codigo_gar</th>
                <td>{{ palets_bateria.codigoGar }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('palets_baterias_index') }}">back to list</a>

    <a href="{{ path('palets_baterias_edit', {'id': palets_bateria.id}) }}">edit</a>

    {{ include('palets_baterias/_delete_form.html.twig') }}
{% endblock %}
