<form method="post" action="{{ path('app_garantias_delete', {'id': garantia.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ garantia.id) }}">
    <button class="btn">Delete</button>
</form>
