{% extends '../base_bk.html.twig' %}

{% block title %}Edit Garantias{% endblock %}

{% block body %}
    <h1>Edit Garantias</h1>

    {{ include('garantias/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_garantias_index') }}">back to list</a>

    {{ include('garantias/_delete_form.html.twig') }}
{% endblock %}
