{% extends '../base_bk.html.twig' %}

{% block title %}New Garantias{% endblock %}

{% block body %}
    <h1>Create new Garantias</h1>

    {{ include('garantias/_form.html.twig') }}

    <a href="{{ path('app_garantias_index') }}">back to list</a>
{% endblock %}
