{% extends '../base_bk.html.twig' %}

{% block title %}Garantias{% endblock %}

{% block body %}
    <h1>Garantias</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garantia.id }}</td>
            </tr>
            <tr>
                <th>GarCodigo</th>
                <td>{{ garantia.garCodigo }}</td>
            </tr>
            <tr>
                <th>GruCodigo</th>
                <td>{{ garantia.gruCodigo }}</td>
            </tr>
            <tr>
                <th>GarFecha</th>
                <td>{{ garantia.garFecha ? garantia.garFecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>GarMarTime</th>
                <td>{{ garantia.garMarTime ? garantia.garMarTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PerId</th>
                <td>{{ garantia.perId }}</td>
            </tr>
            <tr>
                <th>LotId</th>
                <td>{{ garantia.lotId }}</td>
            </tr>
            <tr>
                <th>BarId</th>
                <td>{{ garantia.barId }}</td>
            </tr>
            <tr>
                <th>GarCodSimple</th>
                <td>{{ garantia.garCodSimple }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_garantias_index') }}">back to list</a>

    <a href="{{ path('app_garantias_edit', {'id': garantia.id}) }}">edit</a>

    {{ include('garantias/_delete_form.html.twig') }}
{% endblock %}
