<form method="post" action="{{ path('app_despachos_delete', {'id': despacho.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ despacho.id) }}">
    <button class="btn">Delete</button>
</form>
