{% extends '../base_bk.html.twig' %}

{% block title %}Edit Despachos{% endblock %}

{% block body %}
    <h1>Edit Despachos</h1>

    {{ include('despachos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_despachos_index') }}">back to list</a>

    {{ include('despachos/_delete_form.html.twig') }}
{% endblock %}
