{% extends '../base_bk.html.twig' %}

{% block title %}New Despachos{% endblock %}

{% block body %}
    <h1>Create new Despachos</h1>

    {{ include('despachos/_form.html.twig') }}

    <a href="{{ path('app_despachos_index') }}">back to list</a>
{% endblock %}
