{% extends 'app.html.twig' %}

{% block title %}Activación de Garantias{% endblock %}

{% block contenido %}
        <div class="container-fluid p-3">
            <div class="row justify-content-center mt-4 ">
                <div class="col-10 col-md-8 col-lg-6 col-xl-4 text-center" style="font-size: 24px">
                    <div class="bg-white pt-3 text-center" style="border-radius: 20px; min-height: 500px">
                        <div class="row justify-content-center mt-2">
                            <div class="col-10 text-center">
                                <img src="{{ asset('img/logo_bateriasec.png') }}" style="max-width: 100%"/>
                            </div>
                        </div>
                        <br>
                        <i class="fa-brands fa-galactic-republic text-danger"></i><span class="text-danger"> Activación de Garantias</span>
                        <hr>
                        <br>
                        <span class="text-danger" style="font-size: 20px"> Ingrese el código corto</span>
                        <div class="row justify-content-center mt-2">
                            <div class="col-8 col-md-6 text-center">
                                <input id="codigo" class="form-control form-control-sm" maxlength="8" style="" autofocus/>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <div class="col-8 col-md-6 text-center">
                                <button id="activar" type="button" class="btn btn-danger" style="font-size: 20px">
                                    <i class="fa-brands fa-galactic-republic text-white"></i> Activar Garantia
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        $(document).ready(function () {

            $("#activar").click(function () {
                if($("#codigo").val() == ""){
                    alert("Debe ingresar el Código corto de la bateria")
                    return false;
                }
                if($("#codigo").val().length < 7){
                    alert("Código corto de la bateria con longitud no válida")
                    return false;
                }
                var bandera = false;
                /*garantias.map(function (element){
                    if(element.codigo_grupo_garantia == $("#codigo").val()){
                        window.open(element.url, '_blank');
                        bandera = true;
                    }
                });*/
                $.ajax({
                    type: 'POST',
                    url: "{{ path('despachos_valida_codigo') }}",
                    data: {codigo_gar: $("#codigo").val()},
                    cache: false,
                    success: function (data) {
                        if(data.status == "NOK"){
                            Swal.fire({
                                icon: "info",
                                title: "Verifique el código",
                                text: data.message,
                                confirmButtonColor: "#dc3545",
                                confirmButtonText: 'Aceptar'
                                //footer: "<a href>Why do I have this issue?</a>"
                            })
                        }else{
                            window.open(data.url, '_blank');
                        }
                    }
                });
            });


            //FUNCION DE ESPORTACION A XLSX
            function exportarCsv( data, modelos) {
                //console.log(data);
                modelos.forEach(function(value, index, arr) {
                    $.ajax({
                        type: 'POST',
                        url: "{{ path('default_exportar_csv') }}",
                        data: {data: data, file: value},
                        cache: false,
                        success: function (data) {
                            /*var $a = $("<a>");
                            $a.attr("download", value + " " + new Date().toJSON().slice(0, 10) + ".txt");
                            $("body").append($a);
                            $a.attr("href", value + ".txt");
                            $a[0].click();
                            $a.remove();
                            $('#exampleModal').modal('hide');*/
                        }
                    });
                });

            }

            $("#exportar").click(function () {

                var rowindexes = $('#grid').jqxGrid('getselectedrowindexes');
                if(rowindexes.length < 1){
                    alert("Debe seleccionar los registros!");
                    return false;
                }
                var modelos = [];
                var datos = [];
                rowindexes.forEach(function(currentValue, index, arr) {
                    if (!modelos.includes($('#grid').jqxGrid('getcellvalue', currentValue, "modelo"))){
                        modelos.push($('#grid').jqxGrid('getcellvalue', currentValue, "modelo"));
                    }
                });
                var data = [];
                var obj = {};
                rowindexes.forEach(function(currentValue, index, arr){
                    obj = {
                        modelo : $('#grid').jqxGrid('getcellvalue', currentValue, "modelo"),
                        codigo : $('#grid').jqxGrid('getcellvalue', currentValue, "codigo_gar")
                    }
                    data.push(obj);
                });
                //var data = $('#gridDetalle').jqxGrid('getdisplayrows');
                exportarCsv(JSON.stringify(data), modelos);
            });

        });


    </script>
{% endblock %}
