{% extends '../base_bk.html.twig' %}

{% block title %}Despachos{% endblock %}

{% block body %}
    <h1>Despachos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ despacho.id }}</td>
            </tr>
            <tr>
                <th>CodGarantia</th>
                <td>{{ despacho.codGarantia }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ despacho.number }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ despacho.description }}</td>
            </tr>
            <tr>
                <th>Description2</th>
                <td>{{ despacho.description2 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_despachos_index') }}">back to list</a>

    <a href="{{ path('app_despachos_edit', {'id': despacho.id}) }}">edit</a>

    {{ include('despachos/_delete_form.html.twig') }}
{% endblock %}
