<form method="post" action="{{ path('bodegas_delete', {'id': bodega.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bodega.id) }}">
    <button class="btn">Delete</button>
</form>
