{% extends '../base_bk.html.twig' %}

{% block title %}New Bodegas{% endblock %}

{% block body %}
    <h1>Create new Bodegas</h1>

    {{ include('bodegas/_form.html.twig') }}

    <a href="{{ path('bodegas_index') }}">back to list</a>
{% endblock %}
