{% extends 'base.html.twig' %}

{% block title %}Plano Distribución{% endblock %}

{% block contenido %}
    <style>
        @media (min-width: 1200px){
            .modal-xl {
                max-width: 1568px;
            }
        }
    </style>
    <main>
        <div class="container-fluid p-0" style="height: 100%">
        <div class="row justify-content-center mt-1 ">
            <div class="col-12 text-left" style="font-size: 24px">
                <i class="far fa-map text-danger"></i><span class="text-danger"> Plano de la Distribución</span>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-6 text-left" style="height: 90px">
                <div id="rack1" title="1" class="border rack float-right text-white w-75 h-100 p-2" style="{% for disponible in disponibles %} {% if disponible.racNumero == 1 %} {% if disponible.cantidad > 0 %} border-color: #dc3545 !important; background-color: #28a745; {% else %} border-color: #28a745 !important; background-color: #dc3545 {% endif %}  {% endif %} {% endfor %}" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK 1</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 1 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>
            <div class="col-2">

            </div>
            <div class="col-4 text-left" style="height: 90px">
                <div id="rack10" title="10" class="border rack float-right text-white w-75 h-100 p-2" style="{% for disponible in disponibles %} {% if disponible.racNumero == 10 %} {% if disponible.cantidad > 0 %} border-color: #dc3545 !important; background-color: #28a745; {% else %} border-color: #28a745 !important; background-color: #dc3545 {% endif %}  {% endif %} {% endfor %}" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK 10</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 10 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-6 text-center" style="height: 10px">
                <hr>
                <span class="text-danger" style="font-size: 24px"> PASILLO 1 </span>
                <hr>
            </div>
            <div class="col-2">
            </div>
            <div class="col-4 text-center" style="height: 90px">
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-6 text-left" style="height: 90px">
                <div id="rack2" title="2" class="border rack float-right text-white w-100 h-100 p-2" style="{% for disponible in disponibles %} {% if disponible.racNumero == 2 %} {% if disponible.cantidad > 0 %} border-color: #dc3545 !important; background-color: #28a745; {% else %} border-color: #28a745 !important; background-color: #dc3545 {% endif %}  {% endif %} {% endfor %}" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK 2</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 2 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>
            <div class="col-2 text-right" style="height: 90px">
                <button id="" disabled class="text-white w-75 h-100" style="background-color: #000000">ENTRADA</button>
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-6 text-left" style="height: 90px">
                <div id="rack3" title="3" class="border rack float-right text-white w-100 h-100 p-2" style="{% for disponible in disponibles %} {% if disponible.racNumero == 3 %} {% if disponible.cantidad > 0 %} border-color: #dc3545 !important; background-color: #28a745; {% else %} border-color: #28a745 !important; background-color: #dc3545 {% endif %}  {% endif %} {% endfor %}" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK 3</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 3 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>
            <div class="col-2 text-right" style="height: 90px">
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-6 text-center" style="height: 10px">
                <hr>
                <span class="text-danger" style="font-size: 24px"> PASILLO 2 </span>
                <hr>
            </div>
            <div class="col-2">
            </div>
            <div class="col-4 text-center" style="height: 90px">
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-6 text-left" style="height: 90px">
                <div id="rack4" title="4" class="border rack float-right text-white w-100 h-100 p-2" style="{% for disponible in disponibles %} {% if disponible.racNumero == 4 %} {% if disponible.cantidad > 0 %} border-color: #dc3545 !important; background-color: #28a745; {% else %} border-color: #28a745 !important; background-color: #dc3545 {% endif %}  {% endif %} {% endfor %}" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK 4</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 4 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>
            <div class="col-2 text-right" style="height: 90px">

            </div>
            <div class="col-4">
                <div id="rack11" title="11" class="border rack float-right text-white w-75 h-100 p-2" style="{% for disponible in disponibles %} {% if disponible.racNumero == 11 %} {% if disponible.cantidad > 0 %} border-color: #dc3545 !important; background-color: #28a745; {% else %} border-color: #28a745 !important; background-color: #dc3545 {% endif %}  {% endif %} {% endfor %}" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK 11</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 11 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-6 text-left" style="height: 90px">
                <div id="rack5" title="5" class="border rack float-right text-white w-100 h-100 p-2" style="{% for disponible in disponibles %} {% if disponible.racNumero == 5 %} {% if disponible.cantidad > 0 %} border-color: #dc3545 !important; background-color: #28a745; {% else %} border-color: #28a745 !important; background-color: #dc3545 {% endif %}  {% endif %} {% endfor %}" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK 5</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 5 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>
            <div class="col-2 text-right" style="height: 90px">
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-6 text-center" style="height: 10px">
                <hr>
                <span class="text-danger" style="font-size: 24px"> PASILLO 3 </span>
                <hr>
            </div>
            <div class="col-2">
            </div>
            <div class="col-4 text-center" style="height: 90px">
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-6 text-left" style="height: 90px">
                <div id="rack6" title="6" class="border rack float-right text-white w-100 h-100 p-2" style="{% for disponible in disponibles %} {% if disponible.racNumero == 6 %} {% if disponible.cantidad > 0 %} border-color: #dc3545 !important; background-color: #28a745; {% else %} border-color: #28a745 !important; background-color: #dc3545 {% endif %}  {% endif %} {% endfor %}" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK 6</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 6 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>
            <div class="col-2 text-right" style="height: 90px">

            </div>
            <div class="col-4">
                <div id="rack9" title="9" class="border rack float-right text-white w-100 h-100 p-2" style="{% for disponible in disponibles %} {% if disponible.racNumero == 9 %} {% if disponible.cantidad > 0 %} border-color: #dc3545 !important; background-color: #28a745; {% else %} border-color: #28a745 !important; background-color: #dc3545 {% endif %}  {% endif %} {% endfor %}" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK 9</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 9 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-6 text-left" style="height: 90px">
                <div id="rack7" title="7" class="border rack float-right text-white w-50 h-100 p-2" style="{% for disponible in disponibles %} {% if disponible.racNumero == 7 %} {% if disponible.cantidad > 0 %} border-color: #dc3545 !important; background-color: #28a745; {% else %} border-color: #28a745 !important; background-color: #dc3545 {% endif %}  {% endif %} {% endfor %}" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK 7</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 7 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>
            <div class="col-2 text-right" style="height: 90px">
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-6 text-left" style="height: 90px">
                <div id="rack8" title="8" class="border rack float-right text-white w-75 h-100 p-2" style="{% for disponible in disponibles %} {% if disponible.racNumero == 8 %} {% if disponible.cantidad > 0 %} border-color: #dc3545 !important; background-color: #28a745; {% else %} border-color: #28a745 !important; background-color: #dc3545 {% endif %}  {% endif %} {% endfor %}" data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK 8</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 8 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>
            <div class="col-2 text-right" style="height: 90px">
            </div>
            <div class="col-4">

            </div>
        </div>
            <hr>
        <div class="row justify-content-center mt-3">
            <div class="col-12 text-center" style="height: 90px">
                <div id="rackfifo" title="12" class="border rack float-right text-white w-100 h-100 p-2" style=" border-color: #28a745 !important; background-color: #28a745 " data-toggle="modal" data-target=".bd-example-modal-xl">
                    <div class="w-100 text-center">RACK FIFO</div>
                    <span class="text-white" style="font-size: 12px">MODELOS: /{% for modelo in modelos %} {% if modelo.racNumero == 12 %} {{ modelo.modelo }} : {{ modelo.cantidad }} / {% endif %} {% endfor %}</span>
                </div>
            </div>

        </div>
    </div>
    </main>
    <!-- Extra large modal -->
    <div id="modal_racks" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="labelRack"></h5>
                </div>
                <div class="modal-body">
                    <div id="rack"></div>
                </div>
                <div class="modal-footer">
                    <button id="ver" type="button" class="btn btn-danger" data-toggle="modal" data-target="#detalle">Ver Detalle</button>
                    <button id="cerrar" type="button" class="btn btn-warning" onclick="$('#modal_racks').modal('hide');">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-xl" id="detalle" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" style="min-height: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-danger" id="labelDetalle">Listado de Baterias</h1>
                </div>
                <div class="modal-body">

                    <div id="gridDetalles"></div>

                </div>
                <div class="modal-footer">
                    <button id="mover_fifo" type="button" class="btn btn-danger">Mover a FIFO</button>
                    <button id="cerrar" type="button" class="btn btn-warning" onclick="$('#detalle').modal('hide');">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var disponibles = {{ disponibles|json_encode|raw }};
        console.log(disponibles);
        $(document).ready(function () {
            $("#mover_fifo").click(function (){
                var rowindexes = $('#gridDetalles').jqxGrid('getselectedrowindexes');
                //console.log(rowindexes);
                if(rowindexes.length < 1){
                    alert("Debe seleccionar los registros!");
                    return false;
                }
                //$('#jqxLoader').jqxLoader('open');
                var data = [];
                rowindexes.forEach(function(currentValue, index, arr){
                    data.push($('#gridDetalles').jqxGrid('getrowdata', currentValue));
                })
                regSeleccionados = data;
                console.log(regSeleccionados);
                $.ajax({
                    type: 'POST',
                    url: "{{ path('distribucion_mover_fifo') }}",
                    data: {data: regSeleccionados},
                    cache: false,
                    success: function (response) {
                        console.log(response);
                        $("#gridDetalles").jqxGrid('clear');
                        $("#gridDetalles").jqxGrid('clearselection');
                        $("#ver").click();
                    }
                });
            });

            $("#gridDetalles").jqxGrid(
                {
                    width: '100%',
                    sortable: true,
                    showfilterrow: true,
                    filterable: true,
                    pageable: true,
                    height: 510,
                    rowsheight: 40,
                    editable: false,
                    localization: getLocalization('{% trans %} es {% endtrans %}'),
                    theme: '{{ theme }}',
                    selectionmode: 'checkbox',
                    columns: [
                        { text: 'Lote', columntype: 'textbox', filtertype: 'textbox', datafield: 'num_lote', width: '5%' },
                        { text: '{% trans %}Código garantia{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'codigo_gar', width: '20%' },
                        { text: '{% trans %}Codigo Corto Garantia{% endtrans %}', columntype: 'checkedlist', filtertype: 'checkedlist',  datafield: 'codigo_grupo_garantia', width: '10%' },
                        { text: '{% trans %}Grupo{% endtrans %}', columntype: 'checkedlist', filtertype: 'checkedlist',  datafield: 'codigo_grupo', width: '10%' },
                        { text: '{% trans %}Fec. Garantia{% endtrans %}', filtertype: 'range', cellsformat: 'yyyy-MM-dd',  datafield: 'fecha_gar', width: '15%' },
                        { text: '{% trans %}Modelo{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'modelo', width: '10%' },
                        { text: '{% trans %}Nombre Producto{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'nom_prod_neural', width: '15%' },
                        { text: '{% trans %}Tip. Bateria{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'tipo_bater', width: '15%' },
                    ]
                });
            $("span:contains('www.jqwidgets.com')").hide();

           $(".rack").click(function () {
               $("#gridDetalles").jqxGrid('clear');
               $.ajax({
                   type: 'GET',
                   url: "{{ path('bodegas_racks_secciones') }}" + "?rack=" + this.title,
                   data: null,
                   cache: false,
                   success: function (data) {
                       console.log(data);
                       rack1 = data;
                       if (rack1.length > 0) {
                           var tabla = "";
                           var fil = rack1[0]['racNumFilas'];
                           var col = rack1[0]['racNumColumnas'];
                           var acol = (100 / col);
                           //tabla = "<div class=\"btn-group btn-group-toggle\" data-toggle=\"buttons\">";
                           tabla += "<div class=\"btn-group\" role=\"group\" style='display: contents;'>";
                           for (let i = 0; i < fil; i++) {
                               for (let j = 0; j < col; j++) {
                                   tabla += "<input  type='radio' class='btn-check' name='options' id='" + rack1[j + (i * 9)]['secCodigo'] + "' value='" + rack1[j + (i * 9)]['id'] + "' autocomplete='off'>";
                                   tabla += "<label class='btn btn-outline-warning text-danger' for='" + rack1[j + (i * 9)]['secCodigo'] + "' value='" + rack1[j + (i * 9)]['id'] + "' style='font-size: 12px; height: 100px; width: " + acol + "%; margin-bottom:4px; border-bottom-left-radius: 0px'>";
                                   tabla += rack1[j + (i * 9)]['secCodigo'];
                                   var detalle = JSON.parse(rack1[j + (i * 9)]['detalle']);
                                   //console.log(detalle);
                                   if (detalle){
                                       var r=1;
                                       detalle.forEach(function (item, count) {
                                           if(r <= 4){
                                                tabla += "<br>" + item.modelo + " / Cant.: " + item.cantidad;
                                           }
                                           r = r + 1;
                                       })

                                   }
                                   //tabla += "<br>" + rack1[j + (i * 9)]['secNombre'] + "";
                                   tabla += "</label>";
                               }
                               tabla += "<br>";

                           }
                           tabla += "</div>";
                           //tabla += "</table>";
                           $("#labelRack").empty();
                           $("#labelRack").append(rack1[0]['racDescripcion']);
                           $("#rack").empty();
                           $("#rack").append(tabla);
                           $("#modal_racks").modal("show");
                       } else {
                           $("#rack").empty();
                       }
                   }
               });
           });

            $("#ver").click(function () {
                if(!$('input[name=options]:checked').val()){
                    alert("Debe Seleccionar una Sección");
                    return false;
                }
                //$("#exampleModal").hide();
                $.ajax({
                    type: 'POST',
                    url: "{{ path('distribucion_consulta_detalle') }}",
                    data: {secId: $('input[name=options]:checked').val()},
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        var source =
                            {
                                localdata: data,
                                datafields:
                                    [
                                        { name: 'codigo_gar', type: 'string' },
                                        { name: 'codigo_grupo', type: 'string' },
                                        { name: 'codigo_grupo_garantia', type: 'string' },
                                        { name: 'fecha_gar', map:'fecha_gar>date', type: 'date' },
                                        { name: 'modelo', type: 'string' },
                                        { name: 'nom_prod_neural', type: 'string' },
                                        { name: 'num_lote', type: 'string' },
                                        { name: 'tipo_bater', type: 'string' },
                                        { name: 'pathQr', type: 'string' }
                                    ],
                                datatype: "array",
                                pagesize: 20,
                            };
                        var dataAdapter = new $.jqx.dataAdapter(source);
                        $("#gridDetalles").jqxGrid({source: dataAdapter,});
                        $("#detalle").modal('show');
                        //$("#gridDetalle").append(data);
                    }
                });

            });

        });
    </script>
{% endblock %}
