{% extends '../base_bk.html.twig' %}

{% block title %}Bodegas{% endblock %}

{% block body %}
    <h1>Bodegas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bodega.id }}</td>
            </tr>
            <tr>
                <th>BodNombre</th>
                <td>{{ bodega.bodNombre }}</td>
            </tr>
            <tr>
                <th>BodDescripcion</th>
                <td>{{ bodega.bodDescripcion }}</td>
            </tr>
            <tr>
                <th>BodEstado</th>
                <td>{{ bodega.bodEstado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bodegas_index') }}">back to list</a>

    <a href="{{ path('bodegas_edit', {'id': bodega.id}) }}">edit</a>

    {{ include('bodegas/_delete_form.html.twig') }}
{% endblock %}
