<html data-placement="vertical" data-color="light-blue">
<head>
    <meta charset="UTF-8">
    <title>

    </title>
    <script src="https://kit.fontawesome.com/9c7b08e41b.js" crossorigin="anonymous"></script>
    {% block stylesheets %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/logos_baterias/favicon-32x32.png') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="{{ asset('css2?family=Nunito+Sans:wght@300;400;700&display=swap" rel="stylesheet') }}">
        <link href="{{ asset('css2-1?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet') }}">
        <link rel="stylesheet" href="{{ asset('font/CS-Interface/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/vendor/OverlayScrollbars.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/vendor/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/vendor/select2-bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('npm/bootstrap-icons%401.4.0/font/bootstrap-icons.css') }}">

        <script src="{{ asset('js/base/loader.js') }}"></script>
        <script src="{{ asset('js/vendor/jquery-3.5.1.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    {% endblock %}
    {% block jqx %}
        <link rel="stylesheet" href="{{ asset('jqx/jqwidgets/styles/jqx.base.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('jqx/jqwidgets/styles/jqx.ui-lightness.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('jqx/jqwidgets/styles/jqx.material.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('jqx/jqwidgets/styles/jqx.web.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('jqx/jqwidgets/styles/jqx.ui-sunny.css') }}" type="text/css" />

        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxcore.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxdata.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxbuttons.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxscrollbar.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxlistbox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxdropdownlist.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxmenu.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.edit.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.selection.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.aggregates.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.sort.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.columnsresize.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.filter.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxdata.export.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxcalendar.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxdatetimeinput.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.pager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxnumberinput.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxrating.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/globalization/globalize.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.export.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxcheckbox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxexport.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxtree.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxtabs.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxpanel.js') }}"></script>
        <!--<script type="text/javascript" src="{{ asset('jqx/scripts/demos.js') }}"></script>-->
        <script type="text/javascript" src="{{ asset('jqx/scripts/jslocalization.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jqx/scripts/jszip.min.js') }}"></script>
    {% endblock %}
    {% block styles %}
        <style>
            .color-ppm {
                color: #3C4252;
            }
            .btn:hover {
                color: white !important;
            }
            .form-check-input {
                width: 20px;
                height: 20px;
            }
            .form-check > label {
                margin-top: 3px;
                margin-left: 3px;
            }
            html[data-placement=vertical][data-behaviour=unpinned]:not([data-menu-animate=show]) .nav-container .nav-content .user .profile {
                width: 40px;
                height: 40px;
            }
            html[data-placement=horizontal] .nav-container.mobile-side-ready .nav-content .user-container .user .profile, html[data-placement=vertical] .nav-container .nav-content .user-container .user .profile, html[data-placement=vertical] .nav-container.mobile-side-ready .nav-content .user-container .user .profile {
                order: initial;
                width: 60px;
                height: 60px;
                margin-bottom: 5px;
            }
            .settings-button {
                font-size: 18px;
                border-top-right-radius: var(--border-radius-md);
                margin-bottom: 5px;
                max-width: 42px;
            }
            .settings-button span {
                padding: 10px 20px 0px 10px;
                height: 40px;
                display: inline-block;
            }
            .body-bg {
                background-color: #f0f0f0;

            }
            html[data-placement=vertical][data-behaviour=unpinned] main {
                padding-left: calc(var(--main-spacing-horizontal) + var(--nav-size-slim));
                padding-right: 55px;
            }
            .menu ul {
                padding-left: 1rem !important;
            }
        </style>
    {% endblock %}
</head>
<body class="h-100 body-bg" style="height:100%!important;">
<main class="h-100 p-0">
    <div id="root">
        <div class="mobile-buttons-container" style="display: none">
            <a href="#" id="scrollSpyButton" class="spy-button" data-bs-toggle="dropdown">
                <i data-acorn-icon="menu-dropdown"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" id="scrollSpyDropdown"></div>
            <a href="#" id="mobileMenuButton" class="menu-button">
                <i data-acorn-icon="menu"></i>
            </a>
        </div>
        <div class="nav-shadow"></div>
            {% block contenido %}{% endblock %}
    </div>
</main>

{% block footerScripts %}
    <script>
        $(".nav-content").mouseover(function () {
            var animate = $("html").attr('data-menu-animate');
            $("#logoppm").attr('style','width: 60px')
        });

        $(".nav-content").mouseleave(function (){
            if($("html").attr('data-behaviour') == 'unpinned'){
                $("#logoppm").attr('style','width: 30px')
            }
        });

        $(".btext").on("keydown",function (e) {
            $(this)[0].setCustomValidity('');
        })
    </script>
    <script src="{{ asset('js/vendor/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/vendor/OverlayScrollbars.min.js') }}"></script>
    <script src="{{ asset('js/vendor/autoComplete.min.js') }}"></script>
    <script src="{{ asset('js/vendor/clamp.min.js') }}"></script>
    <script src="{{ asset('icon/acorn-icons.js') }}"></script>
    <script src="{{ asset('icon/acorn-icons-interface.js') }}"></script>
    <script src="{{ asset('js/cs/scrollspy.js') }}"></script>
    <script src="{{ asset('js/vendor/select2.full.min.js') }}"></script>
    <script src="{{ asset('js/base/helpers.js') }}"></script>
    <script src="{{ asset('js/base/globals.js') }}"></script>
    <script src="{{ asset('js/base/nav.js') }}"></script>
    <script src="{{ asset('js/base/search.js') }}"></script>
    <script src="{{ asset('js/base/settings.js') }}"></script>
    <script src="{{ asset('js/forms/controls.select2.js') }}"></script>
    <script src="{{ asset('js/common.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>

    <script src="{{ asset('js/vendor/Chart.bundle.min.js')}}"></script>
    <script src="{{ asset('js/vendor/chartjs-plugin-datalabels.js')}}"></script>
    <script src="{{ asset('js/vendor/chartjs-plugin-rounded-bar.min.js')}}"></script>
    <script src="{{ asset('js/cs/charts.extend.js')}}"></script>

    <script src="{{ asset('js/vendor/chartjs-plugin-crosshair.js')}}"></script>
    <script src="{{ asset('js/vendor/chartjs-plugin-streaming.min.js')}}"></script>
    <script src="{{ asset('js/plugins/charts.js')}}"></script>


{% endblock %}
<!--MODAL CARGANDO -->
<div class="modal fade" id="cargandomodal" tabindex="-1" aria-labelledby="exampleModalLabelCloseOut" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 400px">
        <div class="modal-content border-1 border-primary" style="z-index: 9999999999999999">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status"></div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <span class="text-primary" style="font-size: 20px">Procesando</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="procesando" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-5">
                <button id="menBoton"  class="btn btn-warning w-100 text-danger" type="button" >
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    <span id="menCargando" >Procesando...</span>
                </button>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#nav").show();
        $("html").attr('data-color', 'light-blue');
        $("html").attr('data-placement', 'vertical');
    });
</script>

</body>
</html>
