<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <title>{% block title %}Baterias Ecuador{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}">
    {% block stylesheets %}
        {# Global #}
        <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}">

        {# fontawesome#}
        <link rel="stylesheet" type="text/css" href="{{asset('fontawesome/css/all.css')}}" />
        <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->

        {#Bootstrap 4#}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!---->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {# jqxWidgets  #}
        <link rel="stylesheet" href="{{ asset('jqx/jqwidgets/styles/jqx.base.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('jqx/jqwidgets/styles/edigital.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('jqx/jqwidgets/styles/jqx.bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('jqx/jqwidgets/styles/jqx.ui-sunny.css') }}" type="text/css" />
        <!---->
        {#<script type="text/javascript" src="{{ asset('jqx/scripts/jquery-1.11.1.min.js') }}"></script>#}
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxcore.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxbuttons.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxscrollbar.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxmenu.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxcheckbox.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxlistbox.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxdropdownlist.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.sort.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.pager.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.filter.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxsplitter.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.selection.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.edit.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxinput.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxpopover.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxnotification.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxpanel.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxcalendar.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxdatetimeinput.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.columnsresize.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxdata.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxtextarea.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxcombobox.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxgrid.aggregates.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/jqxloader.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/jqwidgets/globalization/globalize.js')}}"></script>
        <script type="text/javascript" src="{{ asset('jqx/scripts/localization.js')}}"></script>

        {# Jquery Comfirm #}
        <link rel="stylesheet" type="text/css" href="{{ asset('jquery-confirm-v3.3.4/css/jquery-confirm.css') }}">
        <!---->
        <script src="{{ asset('jquery-confirm-v3.3.4/js/jquery-confirm.js') }}"></script>

        <script>
            var theme = 'edigital';
        </script>
    {% endblock %}
    <style>
        .bg-info {
            color: #ed1c24!important;
        }
        .text-info {
            color: #126298!important;
        }
        .text-danger {
            color: #ed1c24!important;
        }
        .text-success {
            color: #68B44F!important;
        }
        .btn-info {
            color: #ed1c24;
            background-color: #fdb824;
            border-color: #ed1c24;
        }
        .btn-info:hover {
            color: #ffffff;
            background-color: #ed1c24;
            border-color: #fdb824;
        }
        .btn-danger {
            color: #ffffff;
            background-color: #ed1c24;
            border-color: #fdb824;
        }
        .btn-danger:hover {
            color: #ed1c24;
            background-color: #fdb824;
            border-color: #ed1c24;
        }


        .btn-success {
            color: #fff;
            background-color: #68B44F;
            border-color: #126298;
        }

        {% block styles %}

        {% endblock %}
    </style>
</head>
<body>
    <div id="popover" style="display:none">
        <div id="movies">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <span><img src="{{ asset('img/ani.gif') }}" alt="" style="height:100px; margin-left: -17px"></span>
                    </div>
                    <div class="col-10 w-100 text-center" style="margin-left: 0px; margin-top: 10px">
                        <div id="jqxNotification">
                            <div id="notificationContent">
                            </div>
                        </div>
                        <div id="container" style="width: 100%;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="content-page mt-2">
        <div class="content">
            <!-- Start container-fluid -->
            <div class="container-fluid">
                {% if app.user %}
                    {% block contenido %}

                    {% endblock %}
                {% else %}
                    {% block contenido_users %}

                    {% endblock %}
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
        });
    </script>
</body>
</html>


