<div id="nav" class="nav-container d-flex" style="display: none!important;">
    <div class="nav-content d-flex">
        <div class="logo position-relative">
            <a href="{{ path('home') }}" style="color: white">
                <img id="logoppm" src="{{ asset('img/logos_baterias/favicon-256x256.png') }}" style="width:60px"/>
            </a>
        </div>
        <div class="user-container d-flex">
            <a href="#" class="d-flex user position-relative" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="profile" alt="profile" src="{{ asset('img/user_login.png') }}">
                <div class="name mt-4 text-white">{{ app.user.usuNombres }}</div>
            </a>
            <div class="dropdown-menu dropdown-menu-end user-menu wide">
                <div class="row mb-3 ms-0 me-0">
                    <div class="col-12 ps-1 mb-2">
                        <div class="text-extra-small text-primary">CUENTA</div>
                    </div>
                    <div class="col-6 ps-1 pe-1">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Información</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 pe-1 ps-1">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mb-1 ms-0 me-0">
                    <div class="col-12 p-1 mb-3 pt-3">
                        <div class="separator-light"></div>
                    </div>
                    <div class="col-6 ps-1 pe-1">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <!--<i data-acorn-icon="help" class="me-2" data-acorn-size="17"></i>-->
                                    <span class="align-middle"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 pe-1 ps-1">
                        <ul class="list-unstyled">
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i data-acorn-icon="logout" class="me-2" data-acorn-size="17"></i>
                                    <span class="align-middle">Salir</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-unstyled list-inline text-center menu-icons">
            <li class="list-inline-item">
                <a href="#" data-bs-toggle="modal" data-bs-target="#searchPagesModal">
                    <i data-acorn-icon="search" data-acorn-size="18"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ path('fos_user_security_logout') }}">
                    <i data-acorn-icon="logout" class="me-2" data-acorn-size="17"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" id="pinButton" class="pin-button">
                    <i data-acorn-icon="lock-on" class="unpin" data-acorn-size="18"></i>
                    <i data-acorn-icon="lock-off" class="pin" data-acorn-size="18"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" id="colorButton">
                    <i data-acorn-icon="light-on" class="light" data-acorn-size="18"></i>
                    <i data-acorn-icon="light-off" class="dark" data-acorn-size="18"></i>
                </a>
            </li>

        </ul>
        <div class="menu-container flex-grow-1">
            <ul id="menu" class="menu">
                {% if app.user.roles[0] in ["SUPER_ADMINISTRADOR", "ADMINISTRADOR"] %}
                <li>
                    <a href="{{ path('bodegas_plano') }}" >
                        <i data-acorn-icon="notebook-1" class="icon" data-acorn-size="18"></i>
                        <span class="label">Plano Distribución</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a href="#apps" data-href="Apps.html">
                        <i class="fa-solid fa-person-shelter"></i>
                        <span class="label ms-2">Administración</span>
                    </a>
                    <ul id="apps">
                        <li>
                            <a href="{{ path('users_index') }}">
                                <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Usuarios</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('bodegas_index') }}">
                                <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Bodegas</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('racks_index') }}">
                                <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Racks</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('seccion_index') }}">
                                <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Secciones</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_lotes_index') }}">
                                <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Lotes</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_grupos_index') }}">
                                <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Grupos</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_baterias_index') }}">
                                <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Baterias</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_periodos_index') }}">
                                <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Periodos</span>
                            </a>
                        </li>

                    </ul>
                </li>
                {% endif %}
                {% if app.user.roles[0] in ["RECEPCION"] %}
                <li>
                    <a href="#recep" data-href="Pages.html">
                        <i class="fa-solid fa-box-open"></i>
                        <span class="label ms-2">Recepción Producto</span>
                    </a>
                    <ul id="recep">
                        <li>
                            <a href="{{ path('recepcion_baterias_index', {"fecha":"-"}) }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Individual</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('palets_index') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Pallets</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('recepcion_baterias_index_reprocesadas', {"fecha":"-"}) }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Reprocesadas</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('recepcion_baterias_index_pnc') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Movimientos a PNC</span>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if app.user.roles[0] in ["GENERADOR"] %}
                <li>
                    <a href="#gar" data-href="Pages.html">
                        <i class="fa-brands fa-galactic-republic"></i>
                        <span class="label ms-2">Garantias</span>
                    </a>
                    <ul id="gar">
                        <li>
                            <a href="{{ path('app_garantias_generar') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Generar Garantías</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_garantias_index') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Garantías generadas</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#codqr" data-href="Pages.html">
                        <i class="fa-solid fa-qrcode"></i>
                        <span class="label ms-2">Códigos QR</span>
                    </a>
                    <ul id="codqr">
                        <li>
                            <a href="{{ path('default_erp_baterias_index', {'fecDesde':'-', 'fecHasta':'-'}) }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Generar Códigos Qr</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('default_erp_baterias_reimpresion_index', {'fecDesde':'-', 'fecHasta':'-'}) }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Códigos Qr Generados</span>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if app.user.roles[0] in ["DISTRIBUCION"] %}
                    <li>
                        <a href="{{ path('bodegas_plano') }}" >
                            <i data-acorn-icon="notebook-1" class="icon" data-acorn-size="18"></i>
                            <span class="label">Plano Distribución</span>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#dist" data-href="Pages.html">
                            <i class="fa-solid fa-dolly"></i>
                            <span class="label ms-2">Distribución Producto</span>
                        </a>
                        <ul id="dist">
                            <li>
                                <a href="{{ path('distribucion_baterias_index') }}">
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Individual</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('distribucion_palets_index') }}">
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Pallets</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if app.user.roles[0] in ["DISTRIBUCION_DESPACHO"] %}
                    <li>
                        <a href="{{ path('bodegas_plano') }}" >
                            <i data-acorn-icon="notebook-1" class="icon" data-acorn-size="18"></i>
                            <span class="label">Plano Distribución</span>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#dist" data-href="Pages.html">
                            <i class="fa-solid fa-dolly"></i>
                            <span class="label ms-2">Distribución Producto</span>
                        </a>
                        <ul id="dist">
                            <li>
                                <a href="{{ path('distribucion_baterias_index') }}">
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Individual</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('distribucion_palets_index') }}">
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Pallets</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <hr style="color: white">
                    <li>
                        <a href="#desp" data-href="Pages.html">
                            <i class="fa-regular fa-paper-plane"></i>
                            <span class="label ms-2">Despacho producto</span>
                        </a>
                        <ul id="desp">
                            <li>
                                <a href="{{ path('default_erp_facturas_index',{'fecDesde':'-', 'fecHasta':'-'}) }}">
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Asignar Facturas</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if app.user.roles[0] in ["INGRESO_PRODUCTO"] %}
                    <li>
                        <a href="#apps" data-href="Apps.html">
                            <i class="fa-solid fa-person-shelter"></i>
                            <span class="label ms-2">Administración</span>
                        </a>
                        <ul id="apps">
                            <li>
                                <a href="{{ path('users_index') }}">
                                    <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Usuarios</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('bodegas_index') }}">
                                    <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Bodegas</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('racks_index') }}">
                                    <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Racks</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('seccion_index') }}">
                                    <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Secciones</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_lotes_index') }}">
                                    <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Lotes</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_grupos_index') }}">
                                    <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Grupos</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_baterias_index') }}">
                                    <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Baterias</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_periodos_index') }}">
                                    <!--<i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>-->
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Periodos</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                {% endif %}
                {% if app.user.roles[0] in ["SUPER_ADMINISTRADOR", "ADMINISTRADOR", "OPERADOR"] %}
                <li>
                    <a href="#gar" data-href="Pages.html">
                        <i class="fa-brands fa-galactic-republic"></i>
                        <span class="label ms-2">Garantias</span>
                    </a>
                    <ul id="gar">
                        <li>
                            <a href="{{ path('app_garantias_generar') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Generar Garantías</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_garantias_index') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Garantías generadas</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#codqr" data-href="Pages.html">
                        <i class="fa-solid fa-qrcode"></i>
                        <span class="label ms-2">Códigos QR</span>
                    </a>
                    <ul id="codqr">
                        <li>
                            <a href="{{ path('default_erp_baterias_index', {'fecDesde':'-', 'fecHasta':'-'}) }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Generar Códigos Qr</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('default_erp_baterias_reimpresion_index', {'fecDesde':'-', 'fecHasta':'-'}) }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Códigos Qr Generados</span>
                            </a>
                        </li>
                    </ul>
                </li>
                    <hr style="color: white">
                <li>
                    <a href="#recep" data-href="Pages.html">
                        <i class="fa-solid fa-box-open"></i>
                        <span class="label ms-2">Recepción Producto</span>
                    </a>
                    <ul id="recep">
                        <li>
                            <a href="{{ path('recepcion_baterias_index', {"fecha":"-"}) }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Individual</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('palets_index') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Pallets</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('recepcion_baterias_index_reprocesadas', {"fecha": '-'}) }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Reprocesadas</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('recepcion_baterias_index_pnc') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Movimientos a PNC</span>
                            </a>
                        </li>
                    </ul>
                </li>
                    <hr style="color: white">
                <li>
                    <a href="#dist" data-href="Pages.html">
                        <i class="fa-solid fa-dolly"></i>
                        <span class="label ms-2">Distribución Producto</span>
                    </a>
                    <ul id="dist">
                        <li>
                            <a href="{{ path('distribucion_baterias_index') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Individual</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('distribucion_palets_index') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Pallets</span>
                            </a>
                        </li>
                    </ul>
                </li>
                    <hr style="color: white">
                <li>
                    <a href="#repro" data-href="Pages.html">
                        <i class="fa-solid fa-dolly"></i>
                        <span class="label ms-2">Reproceso Producto</span>
                    </a>
                    <ul id="repro">
                        <li>
                            <a href="{{ path('reproceso_baterias_index') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Baterias distribuidas</span>
                            </a>
                        </li>
                    </ul>
                </li>
                    <hr style="color: white">
                <li>
                    <a href="#desp" data-href="Pages.html">
                        <i class="fa-regular fa-paper-plane"></i>
                        <span class="label ms-2">Despacho producto</span>
                    </a>
                    <ul id="desp">
                        <li>
                            <a href="{{ path('default_erp_facturas_index',{'fecDesde':'-', 'fecHasta':'-'}) }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Asignar Facturas</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <hr style="color: white">
                {% endif %}
                {% if app.user.roles[0] in ["REPROCESOS"] %}
                    <li>
                        <a href="#repro" data-href="Pages.html">
                            <i class="fa-solid fa-dolly"></i>
                            <span class="label ms-2">Reproceso Producto</span>
                        </a>
                        <ul id="repro">
                            <li>
                                <a href="{{ path('reproceso_baterias_index') }}">
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Baterias distribuidas</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if app.user.roles[0] in ["SUPER_ADMINISTRADOR", "ADMINISTRADOR", "DISTRIBUIDOR"] %}
                    <li>
                        <a href="#acti">
                            <i class="fa-solid fa-laptop-code" data-acorn-size="18"></i>
                            <span class="label ms-2">Activacion de Garantias</span>
                        </a>
                        <ul id="acti">
                            <li>
                                <a href="{{ path('app_despachos_index') }}">
                                    <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                    <span class="label">Garantias</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if app.user.roles[0] in ["SUPER_ADMINISTRADOR", "ADMINISTRADOR", "OPERADOR"] %}
                <li>
                    <a href="#repo" data-href="Blocks.html">
                        <i data-acorn-icon="grid-5" class="icon" data-acorn-size="18"></i>
                        <span class="label">Reporteria</span>
                    </a>
                    <ul id="repo">
                        <li>
                            <a href="{{ path('reporte_baterias_pnc') }}">
                                <i class="bi-circle-fill" style="font-size: 8px; margin-right: 5px"></i>
                                <span class="label">Movimientos a PNC</span>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="mobile-buttons-container">
            <a href="#" id="scrollSpyButton" class="spy-button" data-bs-toggle="dropdown">
                <i data-acorn-icon="menu-dropdown"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" id="scrollSpyDropdown"></div>
            <a href="#" id="mobileMenuButton" class="menu-button">
                <i data-acorn-icon="menu"></i>
            </a>
        </div>
    </div>
    <div class="nav-shadow"></div>
</div>


