<form method="post" action="{{ path('racks_delete', {'id': rack.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rack.id) }}">
    <button class="btn">Delete</button>
</form>
