{% extends 'iframe.html.twig' %}

{% block title %}{% trans %}Editar Rack{% endtrans %}{% endblock %}
{% block contenido %}
    <div class="container-fluid p-0">
        <div id="window" class="row justify-content-center">
            <div class="col-5 ">
                <div class="row justify-content-center mt-3">
                    <div class="col-12">
                        <h3><i class="far fa-edit text-success">&nbsp;&nbsp;{% trans %}Editar Rack{% endtrans %}</i><hr></h3>
                    </div>
                </div>
                {{ form_start(form, {'attr': {'id': 'forEdit','class':"needs-validation",'novalidate':''}}) }}
                <div class="form-row align-items-center justify-content-center">
                    <div class="text-left col-12 mb-3">
                        <label for="bodNombre">{% trans %}Número de la Bodega{% endtrans %}</label>
                        {{ form_widget(form.bodNombre,{'id':'bodNombre','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="lbodNombre" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center">
                    <div class="text-left col-12 mb-3">
                        <label for="bodDescripcion">{% trans %}Descripción de la Bodega{% endtrans %}</label>
                        {{ form_widget(form.bodDescripcion,{'id':'bodDescripcion','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="lbodDescripcion" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center">
                    <div class="text-left col-12 mb-3">
                        <label>{% trans %}Estado{% endtrans %}</label>
                        <div class="form-control custom-control">
                            <div class="custom-control custom-switch">
                                {{ form_widget(form.bodEstado,{'id':'bodEstado','attr':{'class':'custom-control-input'}}) }}
                                <label id="labEstado" class="custom-control-label" for="bodEstado">
                                    {% if bodega.bodEstado %}
                                        {% trans %}Registro Activo{% endtrans %}
                                    {% else %}
                                        {% trans %}Registro Inactivo{% endtrans %}
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row align-items-center justify-content-center mt-2 mb-3">
                    <div class="col-12 smallText text-center">
                        <button type="submit" class="btn btn-success">
                            <i class="far fa-save"></i> Guardar
                        </button>
                        <a href="{{ path('bodegas_index') }}">
                            <button type="button" class="btn btn-info">
                                <i class="fas fa-undo-alt"></i> Volver
                            </button>
                        </a>
                    </div>
                </div>
                {{ form_end(form)}}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#bodEstado").click(function(){
                if(this.checked == true){
                    $("#labEstado").addClass('text-primary');
                    $("#labEstado").empty();
                    $("#labEstado").append('{% trans %}Registro Activo{% endtrans %}');
                }else{
                    $("#labEstado").removeClass('text-primary');
                    $("#labEstado").empty();
                    $("#labEstado").append('{% trans %}Registro Inactivo{% endtrans %}');
                }
            });

            $("input:checkbox").click(function(){
                if(this.checked == true){
                    $("#l"+$(this).val()).addClass('text-primary');
                }else{
                    $("#l"+$(this).val()).removeClass('text-primary');
                }
            });
        });
        // VALIDACION
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }else{

                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
