{% extends 'base.html.twig' %}

{% block title %}Listado Racks{% endblock %}

{% block contenido %}
<main>
    <div class="container-fluid p-0">
        <div class="row justify-content-center mt-4 ">
            <div class="col-10 text-left" style="font-size: 24px">
            <i class="fas fa-list-ul text-danger"></i><span class="text-danger"> Listado Racks</span>
        </div>
        <hr>
        <div class="row justify-content-center mt-3">
            <div class="col-10">
                <div id="grid"></div>
                <!--<div class="mt-3 mb-3 text-left">
                    <a href="{{ path('status_new') }}">
                        <button type="button" class="btn btn-outline-success" id='crear'>
                            <i class="fas fa-1x fa-plus-circle ">&nbsp;&nbsp;{% trans %}Nuevo Status{% endtrans %}</i>
                        </button>
                    </a>
                </div>-->
            </div>
        </div>
    </div>
</main>
    <script>
        var racks = {{ racks|json_encode|raw }};
        console.log(racks);
        $(document).ready(function () {
            var source =
                {
                    localdata: racks,
                    datafields:
                        [
                            { name: 'id', type: 'string' },
                            { name: 'bodNombre', type: 'string' },
                            { name: 'racNumero', type: 'string' },
                            { name: 'racNumColumnas', type: 'string' },
                            { name: 'racNumFilas', type: 'string' },
                            { name: 'racDescripcion', type: 'string' },
                            { name: 'racEstado', type: 'boolean' }
                        ],
                    datatype: "array",
                    pagesize: 25,
                };
            var estadorenderer = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                console.log(value);
                if (value == true) {
                    return '<div class="row w-100 h-100 m-0 align-items-center"><div class="col-12 text-center"><span style="color: #008000;">Activo</span></div></div>';
                }
                else {
                    return '<div class="row w-100 h-100 m-0 align-items-center"><div class="col-12 text-center"><span style="color: red;">Inactivo</span></div></div>';
                }
            }
            var opciones = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                var result = '<div class="row h-100 w-100 m-0 align-items-center"><div class="col-12 text-center">';
                    //'<a href="{{ path('racks_edit',{'id':'docId'}) }}"><button type="button" class="btn btn-white btn-sm mr-2"><i class="far fa-2x fa-edit text-warning"></i></button></a>';
                if (rowdata.racEstado == true) {
                    result += '<a href="{{ path('racks_cambia_estado',{'id':'docId1','estado':0}) }}"><button type="button" class="btn btn-sm btn-icon btn-icon-only btn-outline-danger mb-0 ms-2"><i class="fas fa-2x fa-times-circle"></i></button></a>';
                }
                else {
                    result += '<a href="{{ path('racks_cambia_estado',{'id':'docId2','estado':1}) }}"><button type="button" class="btn btn-sm btn-icon btn-icon-only btn-outline-success mb-0 ms-2"><i class="fas fa-2x fa-check-circle"></i></button></a>';
                }
                //result = result.replace('docId',rowdata.id);
                result = result.replace('docId1',rowdata.id);
                return result.replace('docId2',rowdata.id);
            }

            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#grid").jqxGrid(
                {
                    width: '100%',
                    source: dataAdapter,
                    sortable: true,
                    showfilterrow: true,
                    filterable: true,
                    pageable: true,
                    autoheight: true,
                    rowsheight: 40,
                    editable: false,
                    localization: getLocalization('{% trans %} es {% endtrans %}'),
                    theme: '{{ theme }}',
                    selectionmode: 'none',
                    columns: [
                        { text: 'id', columntype: 'textbox', filtertype: 'textbox', datafield: 'id', width: '5%' },
                        { text: '{% trans %}Bodega{% endtrans %}', columntype: 'textbox', filtertype: 'checkedlist', datafield: 'bodNombre', width: '10%' },
                        { text: '{% trans %}Número{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'racNumero', width: '10%' },
                        { text: '{% trans %}No. Filas{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'racNumFilas', width: '10%' },
                        { text: '{% trans %}No. Columnas{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'racNumColumnas', width: '10%' },
                        { text: '{% trans %}Descripción{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'racDescripcion', width: '30%' },
                        { text: '{% trans %}Estado{% endtrans %}', columntype: 'checkedlist', filtertype: 'checkedlist',  datafield: 'racEstado', width: '10%', cellsrenderer: estadorenderer },
                        { text: '{% trans %}Opciones{% endtrans %}', filterable:false, datafield: 'OPC', width: '15%', cellsrenderer: opciones, cellsalign: 'center', align: 'center' }
                    ]
                });
            $("span:contains('www.jqwidgets.com')").hide();
        });
    </script>
{% endblock %}
