{% extends '../base_bk.html.twig' %}

{% block title %}Racks{% endblock %}

{% block body %}
    <h1>Racks</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rack.id }}</td>
            </tr>
            <tr>
                <th>RacNumero</th>
                <td>{{ rack.racNumero }}</td>
            </tr>
            <tr>
                <th>RacNumFilas</th>
                <td>{{ rack.racNumFilas }}</td>
            </tr>
            <tr>
                <th>RacNumColumnas</th>
                <td>{{ rack.racNumColumnas }}</td>
            </tr>
            <tr>
                <th>RacDescripcion</th>
                <td>{{ rack.racDescripcion }}</td>
            </tr>
            <tr>
                <th>RacEstado</th>
                <td>{{ rack.racEstado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('racks_index') }}">back to list</a>

    <a href="{{ path('racks_edit', {'id': rack.id}) }}">edit</a>

    {{ include('racks/_delete_form.html.twig') }}
{% endblock %}
