
<div class="account-pages h-100" style="margin-top: 150px">
    <div class="container h-100 d-flex flex-column">
        <div class="row justify-content-center" style="height: 85%; margin-top: -40px;">
            <div class="col-md-5 col-lg-5 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center mb-4 mt-3">
                            <span><img src="{{ asset('img/user_login.png') }}" alt="" height="100"></span>
                        </div>
                        <form class="needs-validation" novalidate action="{{ path("fos_user_security_check") }}" method="post" name="formulario" >
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <div class="form-group">
                                <label for="username">{% trans %}Usuario/Email{% endtrans %}</label>
                                <input class="form-control"  type="text" id="username" name="_username" required="required" autocomplete="off"  maxlength="100" >
                                <div class="invalid-feedback">
                                    {% trans %}campo requerido!{% endtrans %}
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="{{ path('fos_user_resetting_request') }}" class="text-muted float-right">{% trans %}¿Has olvidado la contraseña?{% endtrans %}</a>
                                <label for="clave_ingreso">{% trans %}Contraseña{% endtrans %}</label>
                                <input class="form-control"  type="password"  id="clave_ingreso" name="_password" autocomplete="new-password" required="required"  maxlength="15">
                                <div class="invalid-feedback">
                                    {% trans %}campo requerido!{% endtrans %}
                                </div>
                            </div>
                            <!--<div class="form-group mb-4 pb-3">
                                <div class="custom-control custom-checkbox checkbox-primary">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                                    <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                </div>
                            </div>-->
                            <div class="mb-3 text-center">
                                <button class="btn btn-block btn-info" type="submit" style=""> Entrar </button>
                            </div>
                        </form>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
                <!--<div class="row mt-4">
                    <div class="col-sm-12 text-center">
                        <p class="text-muted mb-0">Don't have an account? <a href="pages-register.html" class="text-dark ml-1"><b>Sign Up</b></a></p>
                    </div>
                </div>-->
            </div>
            <!-- end col -->
        </div>
        <hr style="border: -0.5px solid #126298; width: 100%; margin-top: 90px">
        <div class="row w-100 " style="height: 15%">
            <div class="col-4 d-none d-md-block text-center" style="max-height: 100%; max-width: 100%">
                <a href="{{ path('home') }}">
                    <img class="img-fluid " style="max-height: 75%" src="{{ asset('img/logo_bateriasec.png') }}" alt="" style="margin-top: 3px">
                </a>
            </div>
            <div class="col-4 d-none d-md-block text-center align-self-center" style="margin-bottom: 20px">
                <span class="">2022 - Derechos Reservados</span>
            </div>

            <div class="col-4 d-none d-md-block text-center" style="max-height: 100%; max-width: 100%">
                <a href="{{ path('home') }}">
                    <img class="img-fluid" style="max-height: 80%" src="{{ asset('img/logo_aditecec.png') }}" alt="" >
                </a>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
{% block javascripts %}
    <script>
        var error = "{{ error|slice(1, 90) }}";
        console.log(error);
        $("#popover").jqxPopover({
            offset: {left: 0, top: 0},
            arrowOffsetValue: 0,
            showCloseButton: false,
            position: "left",
            selector: $("head")
        });

        if (error != ''){
            var err = error.indexOf("User account is disabled");
            if(err > 0){
                if ($(window).width() < 768) {
                    $("#popover").jqxPopover({
                        position: "bottom",
                        selector: $("#username")
                    });
                }else{
                    $("#popover").jqxPopover({
                        position: "left",
                        selector: $("#username")
                    });
                }
                $("#popover").on('close', function (event) {
                    $("#popover").jqxPopover({
                        selector: $("head")
                    });
                });
                $("#jqxNotification").jqxNotification({ width: "100%", height: "100%", appendContainer: "#container", opacity: 0.9, autoClose: false, template: "info", showCloseButton: false });
                $("#notificationContent").html('<div>{% trans %} Usuario se encuentra inactivo! {% endtrans %}</div>');
                $("#jqxNotification").jqxNotification("open");
                $("#username").click();
            }else {
                if ($(window).width() < 768) {
                    $("#popover").jqxPopover({
                        position: "bottom",
                        selector: $("#username")
                    });
                }else{
                    $("#popover").jqxPopover({
                        position: "left",
                        selector: $("#username")
                    });
                }
                $("#popover").on('close', function (event) {
                    $("#popover").jqxPopover({
                        selector: $("head")
                    });
                });
                $("#jqxNotification").jqxNotification({ width: "100%", height: "100%", appendContainer: "#container", opacity: 0.9, autoClose: false, template: "error", showCloseButton: false });
                $("#notificationContent").html('<div>{% trans %} Usuario o Contraseña, incorrectos! {% endtrans %}</div>');
                $("#jqxNotification").jqxNotification("open");
                $("#username").click();
            }

        }

        // VALIDACION
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
