<form method="post" action="{{ path('app_periodos_delete', {'id': periodo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ periodo.id) }}">
    <button class="btn">Delete</button>
</form>
