{% extends 'base.html.twig' %}

{% block title %}{% trans %}Editar Periodo{% endtrans %}{% endblock %}
{% block contenido %}
<main>
    <div class="container-fluid p-5">
        <div id="window" class="row justify-content-center">
            <div class="col-8 ">
                <div class="row justify-content-center mt-3">
                    <div class="col-12 text-left" style="font-size: 24px">
                        <i class="fas fa-edit text-danger"></i><span class="text-danger"> Editar Periodo</span>
                    </div>
                </div>
                <hr>
                {{ form_start(form, {'attr': {'id': 'forNew','class':"needs-validation",'novalidate':''}}) }}
                <div class="row align-items-center justify-content-center">
                    <div class="text-left col-6 mb-3">
                        <label for="perMes">{% trans %}Mes{% endtrans %}</label>
                        {{ form_widget(form.perMes,{'id':'perMes','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="lperMes" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                    <div class="text-left col-6 mb-3">
                        <label for="perAnio">{% trans %}Año{% endtrans %}</label>
                        {{ form_widget(form.perAnio,{'id':'perAnio','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="lperAnio" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="text-left col-6 mb-3">
                        <label for="perFecInicio">{% trans %}Fecha Inicio{% endtrans %}</label>
                        {{ form_widget(form.perFecInicio,{'id':'perFecInicio','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="lperFecInicio" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                    <div class="text-left col-6 mb-3">
                        <label for="perFecFin">{% trans %}Fecha Fin{% endtrans %}</label>
                        {{ form_widget(form.perFecFin,{'id':'perFecFin','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="lperFecFin" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="text-left col-12 mb-3">
                        <label>{% trans %}Estado{% endtrans %}</label>
                        <div class="form-control custom-control">
                            <div class="custom-control custom-switch">
                                {{ form_widget(form.perEstado,{'id':'perEstado','attr':{'class':'custom-control-input'}}) }}
                                <label id="labEstado" class="custom-control-label" for="perEstado">
                                    {% if periodo.perEstado %}
                                        {% trans %}Registro Activo{% endtrans %}
                                    {% else %}
                                        {% trans %}Registro Inactivo{% endtrans %}
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row align-items-center justify-content-center mt-2 mb-3">
                    <div class="col-12 smallText text-center">
                        <button type="submit" class="btn btn-danger">
                            <i class="far fa-save"></i> Guardar
                        </button>
                        <a href="{{ path('app_periodos_index') }}">
                            <button type="button" class="btn btn-warning">
                                <i class="fas fa-undo-alt"></i> Volver
                            </button>
                        </a>
                    </div>
                </div>
                {{ form_end(form)}}
            </div>
        </div>
    </div>
</main>
    <script>
        var periodos = JSON.parse('{{ periodos|json_encode|raw }}');
        $(document).ready(function(){
            $("#perEstado").click(function(){
                if(this.checked == true){
                    $("#labEstado").addClass('text-primary');
                    $("#labEstado").empty();
                    $("#labEstado").append('{% trans %}Registro Activo{% endtrans %}');
                }else{
                    $("#labEstado").removeClass('text-primary');
                    $("#labEstado").empty();
                    $("#labEstado").append('{% trans %}Registro Inactivo{% endtrans %}');
                }
            });

            $("input:checkbox").click(function(){
                if(this.checked == true){
                    $("#l"+$(this).val()).addClass('text-primary');
                }else{
                    $("#l"+$(this).val()).removeClass('text-primary');
                }
            });

        });
        // VALIDACION
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }else{
                            periodos.forEach(function(element) {
                                if(element.perMes == $("#perMes").val() && element.perAnio == $("#perAnio").val()){
                                    $("#perMes").val('');
                                    $("#lperMes").empty();
                                    $("#lperMes").append("{% trans %}Periodo ya registrado!{% endtrans %}");
                                    $("#perMes").focus();
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                            });

                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
