{% extends 'base.html.twig' %}

{% block title %}Listado Periodos{% endblock %}

{% block contenido %}
<main>
    <div class="container-fluid p-0">
        <div class="row justify-content-center mt-4 ">
            <div class="col-10 text-left" style="font-size: 24px">
                <i class="fas fa-list-ul text-danger"></i><span class="text-danger"> Listado de Periodos</span>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center mt-3">
            <div class="col-10">
                <div class="mt-3 mb-3 text-left">
                    <a href="{{ path('app_periodos_new') }}">
                        <button type="button" class="btn btn-danger" id='crear'>
                            <i class="fas fa-1x fa-plus-circle "></i> Nuevo Periodo
                        </button>
                    </a>
                </div>
                <div id="grid"></div>

            </div>
        </div>
    </div>
</main>
    <script>
        var periodos = {{ periodos|json_encode|raw }};
        console.log(periodos);
        $(document).ready(function () {
            var source =
                {
                    localdata: periodos,
                    datafields:
                        [
                            { name: 'id', type: 'string' },
                            { name: 'perMes', type: 'string' },
                            { name: 'perAnio', type: 'string' },
                            { name: 'perFecInicio', map:'perFecInicio>date', type: 'date' },
                            { name: 'perFecFin', map:'perFecFin>date', type: 'date' },
                            { name: 'perEstado', type: 'boolean' }
                        ],
                    datatype: "array",
                    pagesize: 100,
                };
            var estadorenderer = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                console.log(value);
                if (value == true) {
                    return '<div class="row w-100 h-100 m-0 align-items-center"><div class="col-12 text-center"><span style="color: #008000;">Activo</span></div></div>';
                }
                else {
                    return '<div class="row w-100 h-100 m-0 align-items-center"><div class="col-12 text-center"><span style="color: red;">Inactivo</span></div></div>';
                }
            }
            var opciones = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                var result = '<div class="row h-100 w-100 m-0 align-items-center"><div class="col-12 text-center">'+
                    '<a href="{{ path('app_periodos_edit',{'id':'docId'}) }}"><button type="button" class="btn btn-sm btn-icon btn-icon-only btn-outline-warning mb-0"><i class="far fa-2x fa-edit"></i></button></a>';
                if (rowdata.perEstado == true) {
                    result += '<a href="{{ path('app_periodos_cambia_estado',{'id':'docId1','estado':0}) }}"><button type="button" class="btn btn-sm btn-icon btn-icon-only btn-outline-danger mb-0 ms-2"><i class="fas fa-2x fa-times-circle"></i></button></a>';
                }
                else {
                    result += '<a href="{{ path('app_periodos_cambia_estado',{'id':'docId2','estado':1}) }}"><button type="button" class="btn btn-sm btn-icon btn-icon-only btn-outline-success mb-0 ms-2"><i class="fas fa-2x fa-check-circle"></i></button></a>';
                }
                result = result.replace('docId',rowdata.id);
                result = result.replace('docId1',rowdata.id);
                return result.replace('docId2',rowdata.id);
            }

            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#grid").jqxGrid(
                {
                    width: '100%',
                    source: dataAdapter,
                    sortable: true,
                    showfilterrow: true,
                    filterable: true,
                    pageable: false,
                    height: 600,
                    rowsheight: 40,
                    editable: false,
                    localization: getLocalization('{% trans %} es {% endtrans %}'),
                    theme: '{{ theme }}',
                    selectionmode: 'none',
                    columns: [
                        { text: 'id', columntype: 'textbox', filtertype: 'textbox', datafield: 'id', width: '5%' },
                        { text: '{% trans %}Mes{% endtrans %}', columntype: 'textbox', filtertype: 'textbox', datafield: 'perMes', width: '15%' },
                        { text: '{% trans %}Año{% endtrans %}', columntype: 'textbox', filtertype: 'checkedlist', datafield: 'perAnio', width: '15%' },
                        { text: '{% trans %}Fecha Inicio{% endtrans %}', columntype: 'datetimeinput', filtertype: 'range', cellsFormat: 'yyyy-MM-dd', datafield: 'perFecInicio', width: '20%' },
                        { text: '{% trans %}Fecha Fin{% endtrans %}', columntype: 'datetimeinput', filtertype: 'range', cellsFormat: 'yyyy-MM-dd', datafield: 'perFecFin', width: '20%' },
                        { text: '{% trans %}Estado{% endtrans %}', columntype: 'checkedlist', filtertype: 'checkedlist',  datafield: 'perEstado', width: '10%', cellsrenderer: estadorenderer },
                        { text: '{% trans %}Opciones{% endtrans %}', filterable:false, datafield: 'OPC', width: '15%', cellsrenderer: opciones, cellsalign: 'center', align: 'center' }
                    ]
                });
            $("span:contains('www.jqwidgets.com')").hide();
        });
    </script>
{% endblock %}
