{% extends '../base_bk.html.twig' %}

{% block title %}Periodos{% endblock %}

{% block body %}
    <h1>Periodos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ periodo.id }}</td>
            </tr>
            <tr>
                <th>PerMes</th>
                <td>{{ periodo.perMes }}</td>
            </tr>
            <tr>
                <th>PerAnio</th>
                <td>{{ periodo.perAnio }}</td>
            </tr>
            <tr>
                <th>PerFecInicio</th>
                <td>{{ periodo.perFecInicio ? periodo.perFecInicio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PerFecFin</th>
                <td>{{ periodo.perFecFin ? periodo.perFecFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PerEstado</th>
                <td>{{ periodo.perEstado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_periodos_index') }}">back to list</a>

    <a href="{{ path('app_periodos_edit', {'id': periodo.id}) }}">edit</a>

    {{ include('periodos/_delete_form.html.twig') }}
{% endblock %}
