<form method="post" action="{{ path('app_facturas_delete', {'id': factura.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ factura.id) }}">
    <button class="btn">Delete</button>
</form>
