{% extends '../base_bk.html.twig' %}

{% block title %}Facturas index{% endblock %}

{% block body %}
    <h1>Facturas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdFac</th>
                <th>NumFac</th>
                <th>FacFecha</th>
                <th>CustomerNumber</th>
                <th>CustomerName</th>
                <th>TotalAmountIncludingTax</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>FacFecDespacho</th>
                <th>FacEstado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factura in facturas %}
            <tr>
                <td>{{ factura.id }}</td>
                <td>{{ factura.idFac }}</td>
                <td>{{ factura.numFac }}</td>
                <td>{{ factura.facFecha ? factura.facFecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ factura.customerNumber }}</td>
                <td>{{ factura.customerName }}</td>
                <td>{{ factura.totalAmountIncludingTax }}</td>
                <td>{{ factura.phoneNumber }}</td>
                <td>{{ factura.email }}</td>
                <td>{{ factura.facFecDespacho ? factura.facFecDespacho|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ factura.facEstado }}</td>
                <td>
                    <a href="{{ path('app_facturas_show', {'id': factura.id}) }}">show</a>
                    <a href="{{ path('app_facturas_edit', {'id': factura.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_facturas_new') }}">Create new</a>
{% endblock %}
