{% extends '../base_bk.html.twig' %}

{% block title %}New Facturas{% endblock %}

{% block body %}
    <h1>Create new Facturas</h1>

    {{ include('facturas/_form.html.twig') }}

    <a href="{{ path('app_facturas_index') }}">back to list</a>
{% endblock %}
