{% extends '../base_bk.html.twig' %}

{% block title %}Facturas{% endblock %}

{% block body %}
    <h1>Facturas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factura.id }}</td>
            </tr>
            <tr>
                <th>IdFac</th>
                <td>{{ factura.idFac }}</td>
            </tr>
            <tr>
                <th>NumFac</th>
                <td>{{ factura.numFac }}</td>
            </tr>
            <tr>
                <th>FacFecha</th>
                <td>{{ factura.facFecha ? factura.facFecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CustomerNumber</th>
                <td>{{ factura.customerNumber }}</td>
            </tr>
            <tr>
                <th>CustomerName</th>
                <td>{{ factura.customerName }}</td>
            </tr>
            <tr>
                <th>TotalAmountIncludingTax</th>
                <td>{{ factura.totalAmountIncludingTax }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ factura.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ factura.email }}</td>
            </tr>
            <tr>
                <th>FacFecDespacho</th>
                <td>{{ factura.facFecDespacho ? factura.facFecDespacho|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FacEstado</th>
                <td>{{ factura.facEstado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facturas_index') }}">back to list</a>

    <a href="{{ path('app_facturas_edit', {'id': factura.id}) }}">edit</a>

    {{ include('facturas/_delete_form.html.twig') }}
{% endblock %}
