<form method="post" action="{{ path('app_lotes_delete', {'id': lote.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lote.id) }}">
    <button class="btn">Delete</button>
</form>
