{% extends 'base.html.twig' %}

{% block title %}{% trans %}Nuevo Lote{% endtrans %}{% endblock %}
{% block contenido %}
<main>
    <div class="container-fluid p-5">
        <div id="window" class="row justify-content-center">
            <div class="col-5 ">
                <div class="row justify-content-center mt-3">
                    <div class="col-12 text-left" style="font-size: 24px">
                        <i class="far fa-file text-danger"></i><span class="text-danger"> Nuevo Lote</span>
                    </div>
                </div>
                <hr>
                {{ form_start(form, {'attr': {'id': 'forNew','class':"needs-validation",'novalidate':''}}) }}
                <div class="row align-items-center justify-content-center">
                    <div class="text-left col-6 mb-3">
                        <label for="lotCodigo">{% trans %}Código{% endtrans %}</label>
                        {{ form_widget(form.lotCodigo,{'id':'lotCodigo','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="llotCodigo" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                    <div class="text-left col-6 mb-3">
                        <label for="lotCantidad">{% trans %}Cantidad{% endtrans %}</label>
                        {{ form_widget(form.lotCantidad,{'id':'lotCantidad','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="llotCantidad" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="text-left col-6 mb-3">
                        <label for="lotNumPlacas">{% trans %}No. de Placas{% endtrans %}</label>
                        {{ form_widget(form.lotNumPlacas,{'id':'lotNumPlacas','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="llotNumPlacas" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                    <div class="text-left col-6 mb-3">
                        <label for="lotSaldo">{% trans %}Saldo{% endtrans %}</label>
                        {{ form_widget(form.lotSaldo,{'id':'lotSaldo','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="llotSaldo" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="text-left col-6 mb-3">
                        <label for="lotFecCreacion">{% trans %}Fecha de Creación{% endtrans %}</label>
                        {{ form_widget(form.lotFecCreacion,{'id':'lotFecCreacion','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="llotFecCreacion" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                    <div class="text-left col-6 mb-3">
                        <label for="lotIdCrm">{% trans %}ID CRM{% endtrans %}</label>
                        {{ form_widget(form.lotIdCrm,{'id':'lotIdCrm','attr':{'class':'form-control form-control-sm'}}) }}
                        <div class="valid-feedback">
                            {% trans %}válido{% endtrans %}
                        </div>
                        <div id="llotIdCrm" class="invalid-feedback">
                            {% trans %}inválido!{% endtrans %}
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="text-left col-12 mb-3">
                        <label>{% trans %}Estado{% endtrans %}</label>
                        <div class="form-control custom-control">
                            <div class="custom-control custom-switch">
                                {{ form_widget(form.lotEstado,{'id':'lotEstado','attr':{'class':'custom-control-input','checked':'checked'}}) }}
                                <label id="labEstado" class="custom-control-label" for="lotEstado">{% trans %}Registro Activo{% endtrans %}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row align-items-center justify-content-center mt-2 mb-3">
                    <div class="col-12 smallText text-center">
                        <button type="submit" class="btn btn-danger">
                            <i class="far fa-save"></i> Guardar
                        </button>
                        <a href="{{ path('app_lotes_index') }}">
                            <button type="button" class="btn btn-warning">
                                <i class="fas fa-undo-alt"></i> Volver
                            </button>
                        </a>
                    </div>
                </div>
                {{ form_end(form)}}
            </div>
        </div>
    </div>
    <script>
        var lotes = JSON.parse('{{ lotes|json_encode|raw }}');
        $(document).ready(function(){
            $("#lotEstado").click(function(){
                if(this.checked == true){
                    $("#labEstado").addClass('text-primary');
                    $("#labEstado").empty();
                    $("#labEstado").append('{% trans %}Registro Activo{% endtrans %}');
                }else{
                    $("#labEstado").removeClass('text-primary');
                    $("#labEstado").empty();
                    $("#labEstado").append('{% trans %}Registro Inactivo{% endtrans %}');
                }
            });

            $("input:checkbox").click(function(){
                if(this.checked == true){
                    $("#l"+$(this).val()).addClass('text-primary');
                }else{
                    $("#l"+$(this).val()).removeClass('text-primary');
                }
            });

        });
        // VALIDACION
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }else{
                            lotes.forEach(function(element) {
                                if(element.lotCodigo == $("#lotCodigo").val()){
                                    $("#lotCodigo").val('');
                                    $("#llotCodigo").empty();
                                    $("#llotCodigo").append("{% trans %}Nombre de documento ya registrado!{% endtrans %}");
                                    $("#lotCodigo").focus();
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                            });

                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
