{% extends '../base_bk.html.twig' %}

{% block title %}Lotes{% endblock %}

{% block body %}
    <h1>Lotes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lote.id }}</td>
            </tr>
            <tr>
                <th>LotCodigo</th>
                <td>{{ lote.lotCodigo }}</td>
            </tr>
            <tr>
                <th>LotCantidad</th>
                <td>{{ lote.lotCantidad }}</td>
            </tr>
            <tr>
                <th>LotNumPlacas</th>
                <td>{{ lote.lotNumPlacas }}</td>
            </tr>
            <tr>
                <th>LotSaldo</th>
                <td>{{ lote.lotSaldo }}</td>
            </tr>
            <tr>
                <th>LotFecCreacion</th>
                <td>{{ lote.lotFecCreacion ? lote.lotFecCreacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LotIdCrm</th>
                <td>{{ lote.lotIdCrm }}</td>
            </tr>
            <tr>
                <th>LotEstado</th>
                <td>{{ lote.lotEstado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lotes_index') }}">back to list</a>

    <a href="{{ path('app_lotes_edit', {'id': lote.id}) }}">edit</a>

    {{ include('lotes/_delete_form.html.twig') }}
{% endblock %}
